<% _front_page = front_page? %>

<% unless _front_page %><%= render 'shared/logo' %><% end %>

<ul class="navigation">
  <li<% if new_work_page?  %> class="current"<% end %>>
    <a href="<%= gallery_path(:new_work) %>">New Work</a>
  </li>

  <li<% if self_portrait_page? %> class="current"<% end %>>
    <a href="<%= gallery_path(:self_portrait) %>">Self Portraits</a>
  </li>

  <li<% if plastic_camera_page? %> class="current"<% end %>>
    <a href="<%= gallery_path(:plastic_camera) %>">Plastic Camera</a>
  </li>

  <li<% if watches_page? %> class="current"<% end %>>
    <a href="<%= gallery_path(:watches) %>">Watches</a>
  </li>

  <li<% if archive_page? %> class="current"<% end %>>
    <a href="<%= gallery_path(:archive) %>">Other Work</a>
  </li>

  <li<% if about_page? %> class="current"<% end %>>
    <a href="<%= about_path %>">About</a>
  </li>

  <li<% if contact_page? %> class="current"<% end %>>
    <a href="<%= contact_path %>">Contact</a>
  </li>
</ul>

<% unless _front_page %>
  <footer id="sidebar-footer">
    <%= render 'shared/social' %>
    <%= render 'shared/copyright' %>
  </footer>
<% end %>
