<% _front_page = front_page? %>

<% unless _front_page %><%= render 'shared/logo' %><% end %>

<ul class="navigation">
  <li>
    New Work:
    <ul>
      <li<% if t20x16_page? %> class="current"<% end %>>
        <a href="<%= gallery_path(:t20x16) %>">20x16 ins.</a>
      </li>
      <li<% if t24x20_page? %> class="current"<% end %>>
        <a href="<%= gallery_path(:t24x20) %>">24x20 ins.</a>
      </li>
      <li<% if t40x30_page? %> class="current"<% end %>>
        <a href="<%= gallery_path(:t40x30) %>">40x30 ins.</a>
      </li>
      <li<% if scrolls_page? %> class="current"<% end %>>
        <a href="<%= gallery_path(:scrolls) %>">Scrolls</a>
      </li>
    </ul>
  </li>

  <li<% if other_work_page? %> class="current"<% end %>>
    <a href="<%= gallery_path(:other_work) %>">Other Work</a>
  </li>

  <li<% if about_page? %> class="current"<% end %>>
    <a href="<%= about_path %>">About</a>
  </li>

  <li<% if contact_page? %> class="current"<% end %>>
    <a href="<%= contact_path %>">Contact</a>
  </li>
</ul>

<% unless _front_page %>
  <footer class="hidden-xs">
    <%= render 'shared/social' %>
    <%= render 'shared/copyright' %>
  </footer>
<% end %>
