<div class="container-fluid" id="botanicals-container">

  <div class="row" id="about-page-row">

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to "Résumé", resume_path, :class=>"link" %><br /></strong>

      </div>
    </div>

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to "Bio", biography_path, :class=>"link" %><br /></strong>
      </div>
    </div>

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to "Criticism", criticism_path, :class=>"link" %><br /></strong>
      </div>
    </div>

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to "Czech Work", "http://www.czechslovakphotos.com/", :class=>"link" %><br /></strong>
      </div>
    </div>

  </div>

  <div class="row" id="about-page-row">

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to "BLIP TV INTERVIEW", 'http://blip.tv/play/gtdmgf_sTgA.m4v', :class=>"link" %><br /></strong>

      </div>
    </div>

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to"AUDIO INTERVIEW", biography_path, :class=>"link" %><br /></strong>
      </div>
    </div>

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to"THE NON BLIP TV SPOT", bofvideo_path, :class=>"link" %><br /></strong>
      </div>
    </div>

    <div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
      <div class="statement-box" id="statement">
        <strong><%= link_to"Czech Work", "http://www.czechslovakphotos.com/", :class=>"link" %><br /></strong>
      </div>
    </div>

  </div>

</div>
