<div class="container-fluid" id="botanicals-container">

  <div class="row" id="gallery-row">

    <div class="col-xs-9 col-sm-3 col-md-3 link " id="gallery-row">
      <div class="about-statement-box about-statement-text" id="statement">
        <strong><%= link_to "Résumé", resume_path, :class=>"link" %><br /></strong>

      </div>
    </div>

    <div class="col-xs-9 col-sm-3 col-md-3 link " id="gallery-row">
      <div class="about-statement-box about-statement-text" id="statement">
        <strong><%= link_to "Bio", biography_path, :class=>"link" %><br /></strong>
      </div>
    </div>

    <div class="col-xs-9 col-sm-3 col-md-3 link " id="gallery-row">
      <div class="about-statement-box about-statement-text" id="statement">
        <strong><%= link_to "Press", criticism_path, :class=>"link" %><br /></strong>
      </div>
    </div>

    <div class="col-xs-9 col-sm-3 col-md-3 link " id="gallery-row">
      <div class="about-statement-box about-statement-text" id="statement">
        <strong><%= link_to "Link to Czech and Slovak Site", "http://www.czechslovakphotos.com/", :class=>"link" %><br /></strong>
      </div>
    </div>

  </div>

<div class="row" id="gallery-row">

    <div class="col-xs-9 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 link " id="gallery-row-picture">

        <strong><%= link_to image_tag("annetv.png", :class => "img-responsive", :border => 0), 'https://www.youtube.com/watch?v=SBo3O2b4ARo' %><br /></strong>
        TV spot--Caught in the Act: Art in Brooklyn
      </div>




    <div class="col-xs-9 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 link " id="gallery-row-picture">

        <strong><%= link_to image_tag("00me by dragin web crop.jpg",:class => "img-responsive", :border => 0), aauaudio_path %><br /></strong>
        Interview with Rachel Hubbard

    </div>

    <div class="col-xs-9 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 link " id="gallery-row-picture">

        <strong><%= link_to image_tag("making_of_fragility.png",:class => "img-responsive", :border => 0), bofvideo_path %></strong><br />
        Video of the making of Body of Fragility

    </div>



  </div>

</div>
