<div class="container crit-pages-page">

	<div class="row">
	
		<div class="col-xs-7" id="crit-pages-text">
			<p>
				Early in their history, photographers invested themselves with the ability to record and posses more than what the world around us showed to them.  They became interpreters and guides through a parallel universe that only they, through their unique medium, could travel to and document in the form of photographic records.  We, the spectators, cast aside our doubts and fears of the unknown and believed in the images because the innate realism of photography persevered through even the most bewildering and surreal flights of fancy.  We looked to photography to provide us not with evidence of what we knew, but of what we were missing,  what we had dreamed of but had forgotten, what we thought we saw out of the corners of our eyes.
			</p>
			<p>
				Anne Arden McDonald constructs and photographs the unknown.  For the briefest instant, the subject of the photograph lived and breathed and experienced its most critical moment, to be recorded by McDonald’s camera.  If all photography involves some form of manipulation, McDonald manipulates the world outside, rather than the film. In doing so, she creates an alternate reality for the spectator, asking us to alter our view, and to enter into the intimate life of the image, finding it and calling it by name.  We become witnesses to the alternate reality, standing before her photographs and testifying to their truth.  We are the scientists, fact-finders, anthropologists, and weavers of legends, investigating the image and reconstructing the process, searching for the evidence that will tell us how the figure arrived in this location and what will happen next. 
			</p>
			<p>
				Anne Arden McDonald’s exploration of the unknown allows her images to be classified in many ways: as surreal, as fantasy, as self-portraiture; but her work is perhaps closest in spirit to that of the Victorian travel photographers who tagged along on geological survey expeditions, and at the risk of their lives and their equipment, photographed the world out there, bringing home to the eyes of a stationary and less adventuresome population images of beauty and grandeur, of the bizarre, the unbelievable, and the magnificent.	 
			</p>
			
			<p>
				--Wanda Strukus, European Photography Magazine
			</p>

			<div id="back-watch"><a href="/criticism"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
			</div>

		</div>

		<div class="col-xs-4" id="pages-box">
			<div id="pages-image"><%= image_tag("Euro photo web.jpg", alt: "European Photography", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%= image_tag("sp-37-14.jpg", alt: "self portrait 14", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%= image_tag("sp-16-35.jpg", alt: "self portrait 35", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%= image_tag("sp-07-25.jpg", alt: "self portrait 25", :class => "img-responsive") %>
			</div>
			
			
		</div>

		
			
		</div>
	</div>

</div>


