<div class="container crit-pages-page">

	<div class="row">
	
		<div class="col-xs-7" id="crit-pages-text">
			<strong>
				<p>
					Aperture
				</p>
			</strong>


				<p>I build installations in the landscape or in abandoned interiors and then make private performances for my camera that are part ritual, part dance, and part daydream. I have many fantasies—being able to fly is the main one—and am frustrated by the limitations of an earthbound body. This is a dilemma—being both flesh and spirit; living in a body with a mind that dreams.
				</p>
			<p>
				
				In the beginning, I never really set out to make artwork. I was brought up in a very conservative southern community, went to a born-again Christian school, and was in conflict with just about everything around me. The southern ideal of femininity is a narrow road to ask women to walk. I may not have known it at the time, but making these pictures was about survival. I had to ﬁgure out my life and to build a self that I could live with. That’s when I began deliberately using the camera.

			</p>
			<p>
				
				I had a little Instamatic from the time I was about six, and for sixth-grade graduation, I was given a 35mm camera. I had an idea that if l made one beautiful picture of myself I could give copies of it to everybody I knew, and my life would change. I never got that picture, but I continued using the camera to explore myself. Since I was not like the “model female" in magazine and advertising photographs, and I wasn’t like anyone I knew, I started trying to ﬁgure out who I was and how I could relate to the world around me.

			</p>
			<p>
				
				I began shooting in abandoned buildings because they were a metaphor for feeling left out and forgotten. Also, they have a history, a texture, a feeling, and a smell that work on my imagination. I go through a ritual of getting rid of debris and sometimes I do an installation using objects left behind, like old shoes, or tools. It‘s a way of creating a theater where some part of me will be performed into existence. The characters are all some little piece of me that became magnified through the ritual and through the physical work of making pictures. Sometimes I spend quite a long time setting up a space. By the time I begin shooting, my mood has become physical, and it‘s straight off the nervous system. I try to use my body to express my spirit, to find meaning and symbolism in a world that has paved over some of its magic. Usually I have drawn or written some ideas to work with. But most often what I get is the picture between the ideas, something that reveals a subtler mix of emotions that comes from interpreting a feeling rather than performing a pre-constructed narrative.

			</p>
			<p>
				In 1992, I attended a summer workshop at the Prague House of Photography, in the Czech Republic, and encountered many photographers there doing staged photography, working in a way similar to what I had been doing. I thought I’d find a lot of documentary photography because they were involved in one of the biggest guinea pig experiments of our century, in a way, with communism. The Czechs have a rich tradition of surrealism—in the language, in filmmaking, in fairy tales, even in their architecture—that comes through in their photography. I think one of the things I have in common with the Czech and Slovak photographers I've become friendly with is this escapism from harsh realities. For them, it was communism; for me, it was southern conservatism. 
			</p>
			<p>
				Looking at this series all together recently, I saw that the indoor scenes are mainly about struggle, waiting, and loss. Often the character looks towards a window or door, as if searching for a way out or for contact with a world outside. I found I had burned through so much emotion that I had arrived at a peacefulness and realized that I didn‘t have to make these pictures anymore. Over the ﬁfteen years in which I made these photographs, they changed from being personal therapy to representative symbols. My images serve as a visual metaphor for struggles we face every day: tension and balance, keeping hope alive against obstacles, and living in a vulnerable way without being crushed.
			</p>
			
			<p>
			<em>--From an interview with Peggy Roalf in September, 1998.</em>

			<div id="back-watch"><a href="/criticism"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
			</div>
		</p>


		</div>

		<div class="col-xs-4" id="pages-box">
			<div id="pages-image"><%=image_tag("aperture web.jpg", alt: "aperture", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("00me by dragin web.jpg", alt: "", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("sp-15-63-thumb.jpg", alt: "Book Cover", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("sp-06-12-thumb.jpg", alt: "nightgown", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("sp-30-10-thumb.jpg", alt: "blue window", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("sp-35-05-thumb.jpg", alt: "jump fence", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("sp-17-70-thumb.jpg", alt: "bottles", :class => "img-responsive") %>
			</div>
			<div id="pages-image"><%=image_tag("05me and train web.jpg", alt: "train", :class => "img-responsive") %>
			</div>
		</div>

		</div>
	</div>

</div>


 