<div class="grid-row">
  <div style="float: left; width: 255px; ">
    <h1>Seahorse Necklace</h1>
    <p>Two 5/8 inch discs with seahorses on either end of a 22 inch chain, meant to be looped and hung at varying heights&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Seahorse Necklace', price: 'necklace' } %>
    <%= image_tag 'seahorse_necklace.jpg' %>
  </div>

  <div style="float: right; width: 290px;">
    <h1>Seahorse Cufflinks</h1>
    <p>Cufflinks are 5/8 of an inch each, soldered to swing back posts&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Seahorse Cufflinks', price: 'necklace' } %>
    <%= image_tag 'seahorse_cufflinks.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div style="float: left; width: 255px; ">
    <h1>Green Onion Earrings</h1>
    <p>1.75 ins. in length</p>
    <p>I pulled up green onions in central park, glued them together and cast them into silver and gold&mdash;I like that the Egyptians saw the onion as a model for the universe&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Green Onion Earrings', price: 'necklace' } %>
    <%= image_tag 'j_19.jpg' %>
  </div>

  <div style="float: right; width: 290px;">
    <h1>Root Earrings</h1>
    <p>2.75 ins. in length
    <p>I pulled up roots near my best friend's house in Paris, glued them together and cast them into silver and gold&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Root Earrings', price: 'necklace' } %>
    <%= image_tag 'j_20.jpg' %>
  </div>
  <div class="clear"></div>
</div>


<div class="grid-row">
  <div style="float: left; width: 375px;">
    <h1>Swallow Cufflinks</h1>
    <p>Standard size,  1.6cm or <sup>3</sup>/<sub>4</sub> inch wide</p>
    <p>This is one of my favorites&mdash;birds and flying have always been a metaphor for freedom for me&mdash;I feel a lot of tension living in a body that has limitations and yet has a mind that is free to dream&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Swallow Cufflinks', price: 'necklace' } %>
    <%= image_tag 'swallow_cufflinks.jpg' %>
  </div>

  <div style="float: right; width: 375px;">
    <h1>Silver Coat Buttons</h1>
    <p>Size of buttons is 1 inch or 2.5 cm&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Silver Coat Buttons', price: '50.00' } %>
    <%= image_tag 'coat_buttons.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div style="float: left; width: 280px;">
    <h1>Budding Branch Earrings</h1>
    <p>3.5 ins. in length</p>
    <p>I made these as a celebration of Spring&mdash;
    They are made from twigs that are just beginning to go into bud&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Budding Earrings Ring', price: 'necklace' } %>
    <%= image_tag 'j_21.jpg' %>
  </div>

  <div style="float: right; width: 375px">
    <h1>Gun Necklace</h1>
    <p>Gun is 4cm or 1 <sup>3</sup>/<sub>4</sub> inch wide. Chain length is 16 inches.</p>
    <p>Cast from a child's toy&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Gun Necklace', price: 'necklace' } %>
    <%= image_tag 'gun_necklace.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div style="float: left; width: 375px;">
    <h1>Bird Stamp Necklace</h1>
    <p>Pendant is 1 1/8 ins. or 3cm. wide. Chain length is 16 inches.</p>
    <p>This is the stamp I used to use to seal my letters&mdash;</p>
    <p>I love birds as a symbol for freedom.</p>
    <%= render partial: 'paypal', locals: { name: 'Bird Stamp Necklace', price: 'necklace' } %>
    <%= image_tag 'bird_stamp.jpg', width: '240' %>
  </div>

  <div style="float: right; width: 375px">
    <h1>Small Bird Stamp Necklace</h1>
    <p>Pendant is 5/8 inch across. See left.</p>
    <%= render partial: 'paypal', locals: { name: 'Small Bird Stamp Necklace', price: 'necklace' } %>
    <%= image_tag 'small_bird_stamp.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div style="float: left; width: 375px">
    <h1>Pendulum Necklace &mdash; Teardrop</h1>
    <p>Pendulum is 3.3cm or 1 <sup>1</sup>/<sub>4</sub> inch wide. Chain length is 16 inches.</p>
    <p>I was doing a show last Summer that involved lightness and weight, and materials that show strength and fragility&mdash;I like that these might have been used to build, and for divination, I love the shape of them, and the reference to the passing of time&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Pendulum Necklace Teardrop', price: 'large_necklace' } %>
    <%= image_tag 'pendulum_necklace_teardrop.jpg' %>
  </div>

  <div style="float: right; width: 375px; padding-bottom: 10px;">
    <h1>Pendulum Necklace &mdash; Teardrop (Black)</h1>
    <p>Pendulum is 3.3cm or 1 <sup>1</sup>/<sub>4</sub> inch wide. Chain length is 16 inches.</p>
    <p>See left&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Pendulum Necklace Teardrop (Black)', price: 'large_necklace' } %>
    <%= image_tag 'pendulum_teardrop_black.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div style="float: left; width: 375px">
    <h1>Pendulum Necklace &mdash; Triangle</h1>
    <p>Pendulum is 3.3cm or 1 <sup>1</sup>/<sub>4</sub> inch wide. Chain length is 16 inches.</p>
    <p>See description above&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Pendulum Necklace Triangle', price: 'large_necklace' } %>
    <%= image_tag 'pendulum_triangle_necklace.jpg' %>
  </div>

  <div style="float: right; width: 375px; padding-bottom: 10px;">
    <h1>Scissors Necklace</h1>
    <p>22 inch chain, scissors are 3 ins. long and 1.75 wide</p>
    <%= render partial: 'paypal', locals: { name: 'Scissors Necklace', price: 'large_necklace' } %>
    <%= image_tag 'scissors_necklace.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div style="float: left; width: 375px">
    <h1>Paper Wasp's Nest Necklace</h1>
    <p>Chain is 19 ins.</p>
    <%= render partial: 'paypal', locals: { name: "Paper Wasp's Nest Necklace", price: 'large_necklace' } %>
    <%= image_tag 'paper_wasps_nest.jpg' %>
  </div>

  <div style="float: right; width: 375px; padding-bottom: 10px;">
    <h1>Scapula Necklace</h1>
    <p>I suspect this bone is a scapula, which I like to think of as our leftover wings, from a time when we could fly&mdash;</p>
    <p>Chain 8.5 ins either side, 17 ins total&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Scapula Necklace', price: 'large_necklace' } %>
    <%= image_tag 'scapula_necklace.jpg' %>
  </div>
  <div class="clear"></div>
</div>

<div class="grid-row">
  <div>
    <h1>Hair Pins, Sweater, or Skirt Closers</h1>
    <p>Made from brass, 8 ins. long. Price is for one pin.</p>
    <p>I wanted them to look like a nails, or poppies, or mushrooms&mdash;</p>
    <%= render partial: 'paypal', locals: { name: 'Hair Pins', price: '80.00' } %>
  </div>
  <%= image_tag 'hair_pins.jpg' %>
  <div class="clear"></div>
</div>
