<div>
  <%= image_tag 'j_01c.jpg', class: 'right' %>
  <%= image_tag 'j_01a.jpg', class: 'right' %>
  <%= image_tag 'j_01b.jpg', class: 'right' %>
  <h1>Apple Seed Ring</h1>
  <p>Ring height: 1 cm or <sup>7</sup>/<sub>16</sub><sup>th</sup> ins., measured at widest point.</p>
  <p>This is the first ring I made&mdash;I stitched apple seeds together and cast them&mdash;I was thinking about having a child and wanted to meditate on seeds and fertility of all kinds&mdash;
but people see different things in it&mdash;flames, teeth, tears, a crown&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Appleseed Ring', additional: 'Sizes: 4.5, 6, 6.5, 7.25, 8, 8.5, 9, 10.75' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_03c.jpg', class: 'right' %>
  <%= image_tag 'j_03a.jpg', class: 'right' %>
  <%= image_tag 'j_03b.jpg', class: 'right' %>
  <h1>Bird Stamp Ring</h1>
  <p>Ring height: 1.7cm or <sup>3</sup>/<sub>4</sub> ins. (more or less, depending on ring size)</p>
  <p>This is one of my favorites&mdash;birds and flying have always been a metaphor for freedom for me&mdash;I feel a lot of tension living in a body that has limitations and yet has a mind that is free to dream&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Bird Stamp Ring (small)', additional: 'Sizes 3.5, 4.5, 5. 7.5, 8, 9' } %>
  <%= render partial: 'paypal', locals: { name: 'Bird Stamp Ring (large)', additional: 'Sizes 9.5, 10, 10.5, 11', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'bone_misc_1.jpg', class: 'right' %>
  <%= image_tag 'bone_misc_2.jpg', class: 'right' %>
  <h1>Bone Misc. Ring</h1>
  <p>Ring height: 1.5cm or <sup>5</sup>/<sub>8</sub> of an inch tall at the tallest spot.</p>
  <p>I made a collage of bones, the way they never would have been in nature&mdash;a hip glued to a hand to an arm to a spine, and cast it into a ring-</p>
  <%= render partial: 'paypal', locals: { name: 'Bone Misc Ring', additional: 'Sizes: 10 (approx.)' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'bone_square_1.jpg', class: 'right' %>
  <%= image_tag 'bone_square_2.jpg', class: 'right' %>
  <h1>Bone Square Ring</h1>
  <p>Ring height: .5cm or <sup>1</sup>/<sub>4</sub> ins.</p>
  <p>This ring is 4 small animals' arm, leg, finger or toe bones glued together, with some extra knee or hand pieces at the corners-this ring taught me that while we think of fingers as round, they are equally square at the knuckle.</p>
  <%= render partial: 'paypal', locals: { name: 'Bone Square Ring', additional: 'Sizes: 6, 8, 10 (approx.)' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'couple1.jpg', class: 'right' %>
  <%= image_tag 'couple2.jpg', class: 'right' %>
  <%= image_tag 'couple3.jpg', class: 'right' %>
  <h1>Couple Ring</h1>
  <p>Ring height: .6cm or <sup>1/</sup><sub>4</sub> ins.</p>
  <p>I made this one to think about what it means to be a couple and yet remain individuals&mdash;one comes from one place, one comes from another, and they lie down together&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Couple Ring', additional: 'Sizes: 6, 6.5, 7, 8, 8.5, 9, 10.75' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'fern_graphic_2.jpg', class: 'right' %>
  <%= image_tag 'fern_graphic_1.jpg', class: 'right' %>
  <h1>Fern Graphic Ring</h1>
  <p>Ring height: 1.5cm or <sup>1</sup>/<sub>2</sub> ins. tall at the tallest&mdash;</p>
  <p>I picked the top of a fern, pressed it into a wax band, and cast it&mdash;It had such a graphic line, like tiny fiddleheads, each one a fractal&mdash;I like that they feel so ancient, and I like how Anselm Kiefer has used them&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Fern Graphic Ring', additional: 'Sizes: 5.5, 7.5, 8' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'fern_lacy_ring_1.jpg', class: 'right' %>
  <%= image_tag 'fern_lacy_ring_2.jpg', class: 'right' %>
  <h1>Fern Lace Ring</h1>
  <p>Ring height: 1.2m or <sup>1</sup>/<sub>2</sub> ins. tall at the tallest.</p>
  <p>I picked the top of a fern, pressed it into a wax band, and cast it&mdash;It came out with such delicate detail, like lace&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Fern Lace Ring', additional: 'Sizes: 7.5, 8.75, 11.75', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'handinsky.jpg', class: 'right' %>
  <h1>Hand in Sky Ring</h1>
  <p>Ring height: 1.7cm or <sup>1</sup>/<sub>2</sub> ins. tall at the tallest&mdash;</p>
  <p>I wanted it to look like you're looking up into the night sky, and a hand made out of stars is coming down to help you&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Hand in Sky Ring', additional: 'Sizes: 7, 9, 12.5', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'house.jpg', class: 'right' %>
  <h1>House Ring</h1>
  <p>Height is 1.2cm or 1/2 ins.</p>
  <p>When I was evicted from my loft, I would close my eyes at night and draw pictures of little houses, and when I opened my eyes, the drawings were always surprising (you can see them <a href="http://www.anneardenmcdonald.com/noflash/houses/houses.html">here</a>). It was as if they were tiny prayers for a home. This ring is an homage to that time&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'House Ring', additional: 'Sizes: 4, 6.5, 7, 7.75' } %>
  <%= render partial: 'paypal', locals: { name: 'House Ring', additional: 'Sizes: 9, 11.5', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'simple1.jpg', class: 'right' %>
  <%= image_tag 'simple2.jpg', class: 'right' %>
  <h1>Simple Ring</h1>
  <p>Ring height: .3cm or <sup>1</sup>/<sub>8</sub> in.</p>
  <p>This ring has been used as a wedding band, and has a very good handmade irregular feeling to the touch&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Simple Ring', additional: 'Sizes: 6, 8.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'seahorse_curled.jpg', class: 'right' %>
  <h1>Seahorse Curled Ring</h1>
  <p>Ring height: 1.2 cm or .5 ins.</p>
  <p>Seahorses are bizarre to me, that they can move with just the little wings on their faces-and they are a favorite of a dear friend on mine&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Seahorse Curled Ring', additional: 'Sizes: 4, 6.75, 8.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'seahorse_large.jpg', class: 'right' %>
  <h1>Seahorse Flying Ring</h1>
  <p>Ring height: 1.5 cm or 5/8 ins.</p>
  <p>I like the way this one looks like he's flying&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Seahorse Flying Ring', additional: 'Sizes: 10, 14', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'spiral_broken_1.jpg', class: 'right' %>
  <h1>Spiral Broken Ring</h1>
  <p>Height is 1.5cm or <sup>5</sup>/<sub>8</sub> in.</p>
  <p>See above, but I also love that this one shows how it grows larger&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Spiral Broken Ring', additional: 'Sizes: 8', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'spiral_bumpy_1.jpg', class: 'right' %>
  <h1>Spiral Bumpy Ring</h1>
  <p>Size 5, height is 1.2cm or .5 in.</p>
  <p>I am attracted to spirals&mdash;the shape, the movement, and the science&mdash;the golden mean, Fibonacci, etc.</p>
  <%= render partial: 'paypal', locals: { name: 'Spiral Bumpy Ring', additional: 'Sizes 5.5' } %>
  <%= render partial: 'paypal', locals: { name: 'Spiral Bumpy Ring', additional: 'Sizes: 8.5', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'spiral_negative1.jpg', class: 'right' %>
  <%= image_tag 'spiral_negative2.jpg', class: 'right' %>
  <h1>Spiral Negative Ring</h1>
  <p>I wanted to do a spiral ring that shows the inside and the outside spaces of the spiral.</p>
  <%= render partial: 'paypal', locals: { name: 'Spiral Negative Ring', additional: 'Sizes: 7, 9.5' } %>
  <%= render partial: 'paypal', locals: { name: 'Spiral Negative Ring', additional: 'Sizes: 11.5, 12.25', price: 'large_ring' } %>
  <div class="clear"></div>
</div>
