<div>
  <%= image_tag 'lace_tiny_crown.jpg', class: 'right' %>
  <h1>Lace Tiny Crown Ring</h1>
  <p>Ring height: 3/8 inch.</p>
  <p>This is cast from Victorian lace&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Tiny Crown Ring', additional: 'Sizes: 3.2, 3.5, 4, 6.25' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_tiny_flat.jpg', class: 'right' %>
  <h1>Lace Tiny Flat Ring</h1>
  <p>Ring height: 3/8 inch.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Tiny Flat Ring', additional: 'Sizes: 4' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_floral_graphic.jpg', class: 'right' %>
  <h1>Lace Floral Graphic Ring</h1>
  <p>Ring height: 1/2 inch.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Floral Graphic Ring', additional: 'Sizes: 5.5, 7.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_small_crown.jpg', class: 'right' %>
  <%= image_tag 'lace_small_crown2.jpg', class: 'right' %>
  <h1>Lace Small Crown Ring</h1>
  <p>Ring height: 3/4 inch.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Small Crown Ring', additional: 'Sizes: 5.75' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_x.jpg', class: 'right' %>
  <h1>Lace Xs Ring</h1>
  <p>Ring height: 1/2 inch.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Xs Ring', additional: 'Sizes: 6.25' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_daisy.jpg', class: 'right' %>
  <h1>Lace Daisy Ring</h1>
  <p>Ring height: .5 ins or 1 cm.</p>
  <p>This is cast from some 1960s trim that would have been sewn onto a dress&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Daisy Ring', additional: 'Sizes: 6.75' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_floral_fragile.jpg', class: 'right' %>
  <%= image_tag 'lace_floral_fragile2.jpg', class: 'right' %>
  <h1>Lace Floral Fragile Ring</h1>
  <p>Ring height: 5/8 inch.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Floral Fragile Ring', additional: 'Sizes: 7' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_gothic_silver.jpg', class: 'right' %>
  <%= image_tag 'lace_gothic_gold.jpg', class: 'right' %>
  <h1>Lace Gothic Ring</h1>
  <p>Ring height: 5/8 in. or 1.5 cm.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Gothic Ring', additional: 'Sizes: 7, 7.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_open_3.jpg', class: 'right' %>
  <%= image_tag 'lace_open_2.jpg', class: 'right' %>
  <%= image_tag 'lace_open_1.jpg', class: 'right' %>
  <h1>Lace Open Ring</h1>
  <p>Ring height: 5/8 in. or 1.5 cm.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Open Ring', additional: 'Sizes: 7.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_flower2.jpg', class: 'right' %>
  <%= image_tag 'lace_flower.jpg', class: 'right' %>
  <h1>Lace with Flower Ring</h1>
  <p>Ring height: 5/8 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace with Flower Ring', additional: 'Sizes: 7.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_modern2.jpg', class: 'right' %>
  <%= image_tag 'lace_modern.jpg', class: 'right' %>
  <h1>Lace Modern Ring</h1>
  <p>Ring height: 1/2 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Open Ring', additional: 'Sizes: 7, 7.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_large_crown.jpg', class: 'right' %>
  <h1>Lace Large Crown Ring</h1>
  <p>Ring height: 5/8 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Large Crown Ring', additional: 'Sizes: 7.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_cloud.jpg', class: 'right' %>
  <%= image_tag 'lace_cloud2.jpg', class: 'right' %>
  <h1>Lace Cloud Ring</h1>
  <p>Ring height: 1/2 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Cloud Ring', additional: 'Sizes: 8.25' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_4_flowers.jpg', class: 'right' %>
  <%= image_tag 'lace_4_flowers2.jpg', class: 'right' %>
  <h1>Lace 4 Flowers Ring</h1>
  <p>Ring height: 3/4 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace 4 Flowers Ring', additional: 'Sizes: 8.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_5_flower.jpg', class: 'right' %>
  <h1>Lace 5 Flowers Ring</h1>
  <p>Ring height: .5 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace 5 Flower Ring', additional: 'Sizes: 9.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_gothic_silver.jpg', class: 'right' %>
  <h1>Lace Gothic Large Ring</h1>
  <p>Ring height: .5 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Gothic Large Ring', additional: 'Sizes: 10' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'lace_giant.jpg', class: 'right' %>
  <h1>Lace Giant Ring</h1>
  <p>Ring height: 1 in.</p>
  <%= render partial: 'paypal', locals: { name: 'Lace Giant Ring', additional: 'Sizes: 11' } %>
  <div class="clear"></div>
</div>
