<div>
  <%= image_tag 'astro1.jpg', class: 'right' %>
  <%= image_tag 'astro2.jpg', class: 'right' %>
  <%= image_tag 'astro3.jpg', class: 'right' %>
  <h1>Astronomy Ring</h1>
  <p>Ring height: 1.2cm or <sup>7</sup>/<sub>16</sub><sup>th</sup> ins.</p>
  <p>The top of this ring shows the sun and stars in the sky, if your fingers represent the atmosphere, then the stars become shooting stars as they pass through the atmosphere, and they become meteors as they land on earth, all of those states are present in this ring&mdash;.</p>
  <%= render partial: 'paypal', locals: { name: 'Astronomy Ring', additional: 'Sizes: 8.5', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'branch4.jpg', class: 'right' %>
  <%= image_tag 'branch1.jpg', class: 'right' %>
  <%= image_tag 'branch2.jpg', class: 'right' %>
  <%= image_tag 'branch3.jpg', class: 'right' %>
  <h1>Branch Ring</h1>
  <p>These are rings that I made by cutting out a section of a branch, casting it into silver, and hollowing it out&mdash;</p>
  <p>I wanted it to be as if a tree is hugging your finger&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Branch Ring', additional: 'Sizes: 5, height &frac34; inch; 6.75, height &frac12; inch; 8.75, height 5/8 inch' } %>
  <%= render partial: 'paypal', locals: { name: 'Branch Ring (Extra Large)', additional: 'Sizes: 11.5, height 5/8 inch', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_05a.jpg', class: 'right' %>
  <%= image_tag 'j_05b.jpg', class: 'right' %>
  <h1>Bubble Ring</h1>
  <p>Ring height: 1.2cm or &frac12; ins.</p>
  <p>I did a show years ago called <i>Bouyancy</i>, which was about floating and spheres, the macrocosm of the universe and the microcosm of the cell, and I wanted to celebrate all the ideas from that show with a ring of bubbles&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Bubble Ring', additional: 'Sizes: 8.75', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'burlap1.jpg', class: 'right' %>
  <%= image_tag 'burlap2.jpg', class: 'right' %>
  <h1>Burlap Collage Ring</h1>
  <p>Ring height: 1/2 inch.</p>
  <p>A ring built out of layers of linen and burlap, with a tiny button stitched on&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Burlap Collage Ring', additional: 'Sizes: 7', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'green_onion_1.jpg', class: 'right' %>
  <h1>Green Onion Ring</h1>
  <p>Ring height: 1.cm or <sup>3</sup>/<sub>8</sub> ins.</p>
  <p>I pulled up green onions in central park, glued them together and cast them-I like that the ancient Egyptians saw the onion as a model for the universe&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Green Onion Ring', additional: 'Sizes: 7.25' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'ICIB4ICU.jpg', class: 'right' %>
  <h1>I C I B 4 I C U  Ring</h1>
  <p>Ring height: 1.6cm or <sup>1</sup>/<sub>2</sub> ins.</p>
  <p>This ring spells out the sentence "I see I before I see you," or, "I learn to take care of myself before I take care of everyone else"&mdash;Just a healthy reminder&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'I C I B 4 I C U Ring', additional: 'Sizes: 6 &frac12;' } %>
  <%= render partial: 'paypal', locals: { name: 'I C I B 4 I C U Ring', additional: 'Sizes: 9', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'key.jpg', class: 'right' %>
  <h1>Key Ring</h1>
  <p>Height .5 ins.</p>
  <p>I found a tiny key, small enough to be made into a ring&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Key Ring', additional: 'Sizes: 9.5', price: '130.00' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'leaf.jpg', class: 'right' %>
  <h1>Leaf Ring</h1>
  <p>Ring height: 1.2cm or <sup>1</sup>/<sub>2</sub> ins.</p>
  <p>In celebration of trees &mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Leaf Ring', additional: 'Sizes: 6.25' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_11.jpg', class: 'right' %>
  <h1>Moon Surface Ring</h1>
  <p>Ring height: 1.1cm or <sup>1</sup>/</sub>2</sub>ins.</p>
  <p>I think a lot about outer space&mdash;I found this piece of leather that a shoemaker was using and recognized that it would look like the surface of the moon when cast&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Moon Surface Ring', additional: 'Sizes: 7.75' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'monument_valley_1.jpg', class: 'right' %>
  <h1>Monument Valley Ring</h1>
  <p>Ring height: 1.5cm or <sup>5</sup>/</sub>8</sub>ins.</p>
  <p>This is an homage to one of my two favorite rock formations in the southwest desert, the other one being Shiprock in New Mexico&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Monument Valley Ring', additional: 'Sizes: 9', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_12.jpg', class: 'right' %>
  <h1>Ouroboros Ring</h1>
  <p>Ring height: .4cm or <sup>1</sup>/<sub>4</sub> ins.</p>
  <p>This is a tiny snake spine curled in a circle, as if it's eating it's tail, which is an ancient symbol for infinity&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Ouroboros Ring', additional: 'Sizes: 5.5, 7' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_13a.jpg', class: 'right' %>
  <%= image_tag 'j_13b.jpg', class: 'right' %>
  <h1>Path / Pirate Ring</h1>
  <p>Ring height: 1.5cm or <sup>1</sup>/<sub>2</sub> ins.</p>
  <p>This ring is about the path of your life, but with no ending point, and along the path is an X making the spot for buried treasure and encouraging you to get in there and dig&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Path / Pirate Ring', additional: 'Sizes: 7 &frac12;', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_14.jpg', class: 'right' %>
  <h1>Rock Wall Ring</h1>
  <p>Ring height: .9cm or <sup>3</sup>/<sub>8</sub> ins.</p>
  <p>I made this ring to remind me of the rock walls in England, where I was born, or in Connecticut, where I went to college, but it also looks like a crown&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Rock Wall Ring', additional: 'Sizes: 6.75' } %>
  <div class="clear"></div>
</div>

<div>
  <div class="right">
    <div>
      <%= image_tag 'root_large.jpg', class: 'right' %>
      <%= image_tag 'root_med.jpg', class: 'right' %>
      <%= image_tag 'root_small.jpg', class: 'right' %>
      <%= image_tag 'root_tiny.jpg', class: 'right' %>
    </div>
    <div>
      <%= image_tag 'root_15.jpg', class: 'right' %>
      <%= image_tag 'root_13.jpg', class: 'right' %>
    </div>
  </div>
  <h1>Root Ring</h1>
  <p>I love the organic shape of roots, also they are a great symbol for history, the past, ancestors, being grounded, and a reminder to go deeper&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Root Ring', additional: 'Sizes: 4 (can be altered), 5 (can be altered), 7, 8.25' } %>
  <%= render partial: 'paypal', locals: { name: 'Root Ring (Extra Large)', additional: 'Sizes: 13, 15', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'seashell.jpg', class: 'right' %>
  <h1>Seashell Ring</h1>
  <p>Right height: .5 ins or 1.5 cm.</p>
  <p>I picked up this shell on a beach in Sarasota, Florida when I was 7 or 8 years old&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Seashell Ring', additional: 'Sizes: 5.5' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'teeth_1.jpg', class: 'right' %>
  <%= image_tag 'teeth_2.jpg', class: 'right' %>
  <h1>Teeth Ring</h1>
  <p>Height is 1.2cm or <sup>5</sup>/<sub>8</sub> in.</p>
  <p>I don’t know whose teeth these are, and roots of teeth&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Teeth Ring', additional: 'Sizes: 7', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'twos.jpg', class: 'right' %>
  <h1>Twos Ring</h1>
  <p>Ring height: 5/8 inch.</p>
  <p>This ring is about couples, or friendship&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Twos Ring', additional: 'Sizes: 6.5', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'twig.jpg', class: 'right' %>
  <h1>Twig Ring</h1>
  <p>Ring height: 1cm or <sup>3</sup>/<sub>8</sub> in.</p>
  <p>I like casting natural forms into metal, I found this kind of iconic twig and cast it pressed against wax&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Twig Ring', additional: 'Sizes 8 &frac1;' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_17a.jpg', class: 'right' %>
  <%= image_tag 'j_17b.jpg', class: 'right' %>
  <%= image_tag 'j_17c.jpg', class: 'right' %>
  <h1>Void Ring</h1>
  <p>Ring height: 1.5cm or <sup>1</sup>/<sub>2</sub> in.</p>
  <p>I have a rock on my altar that I found out at Shiprock, it has a hole in it and is a reminder to me to go deeper into things, so this ring is about that, it also looks like a mouth&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Void Ring', additional: 'Sizes: 7', price: 'large_ring' } %>
  <div class="clear"></div>
</div>

<div>
  <%= image_tag 'j_18.jpg', class: 'right' %>
  <h1>Watch Parts Ring</h1>
  <p>Ring height: <sup>1</sup>/<sub>2</sub> inch, or 1.4cm.</p>
  <p>This ring is about actual working mechanical parts&mdash;it's kind of a reaction to the digital age and the abstraction of zeros and ones&mdash;</p>
  <%= render partial: 'paypal', locals: { name: 'Watch Parts Ring', additional: 'Sizes: 7, 9.5', price: 'large_ring' } %>
  <div class="clear"></div>
</div>
