<div class="container-fluid detail-image" id="ap12">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-5 col-md-5">
			<%= image_tag("ap-12-rust.jpg", alt: "Spirit", 
			:class => "img-responsive")%></a>
		</div>

		<div class="col-xs-6 col-xs-offset-1 col-sm-5 col-md-5" id="detail1">
			<%= image_tag("ap-12-rust-detail.jpg", alt: "Spirit detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

			
<div class="arrow-row row">
		<div class="col-xs-3 col-md-2 col-lg-2">
					<a href= '/ap11'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					 <em>Rust and detail, silver gelatin paper toned with rust, 2014, 113 x 42 ins.
 					</em>&mdash; <%= link_to("(Statement)", atom_planet_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= '/ap13'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>