<div class="container-fluid detail-image">
	<div class="row detail-row-layered">
		<div class="col-xs-8 col-md-4">
			<%= image_tag("ap-2-bone.jpg", alt: "bone", 
			:class => "img-responsive")%><br />
		</div>
		<div class="clearfix visible-lg"></div>
		<div class="col-xs-8 col-md-5">
			<%= image_tag("ap-2-bone-detail.jpg", alt: "bone detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 pull-left">
					<a href= '/ap1'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive")%></a></a><br />
		</div>
		<div class= "col-xs-8" id="detail-text">
					<em>Bone, 2011, 105 x 50 ins. &mdash; <%= link_to("Read Artists Statement", atom_planet_statement_path) %></em>
		</div>
		<div class="col-xs-2 pull-right">
						<a href= '/ap3'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive")%>
					</a><br />
		</div>
	</div>	
</div>