<div class="container-fluid detail-image" id="ap2">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-5 col-md-4">
			<%= image_tag("ap-2-bone.jpg", alt: "bone", 
			:class => "img-responsive")%>
		</div>

		<div class="col-xs-8 col-sm-4 col-md-3" id="detail1">
			<%= image_tag("ap-2-bone-detail.jpg", alt: "bone detail", 
			:class => "img-responsive")%>
		</div>
	</div>
</div>

<div class="arrow-row row">
		<div class="col-xs-3 col-md-2 col-lg-2">
					<a href= '/ap1'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
		</div>
	
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Bone and detail, Bleach painting made with sponges, 2011, 105 x 50 ins.
						&mdash; (<%= link_to("Statement", atom_planet_statement_path, :class => "link" ) %>)</em>
		</div>
	
		<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= '/ap3'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>