<div class="container-fluid detail-image" id="ap3">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-5 col-md-4">
			<%= image_tag("ap-3-bouyancy.jpg", alt: "bouyancy", 
			:class => "img-responsive")%><br />			
		</div>

		<div class="col-xs-8 col-sm-4 col-md-4" id="detail1">
			<%= image_tag("ap-3-bouyancy-detail.jpg", alt: "bouyancy detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

<div class="arrow-row row">
		<div class="col-xs-3 col-md-2 col-lg-2">
					<a href= '/ap2'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
		</div>

		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Buoyancy, 2011, 115 x 50 ins. Buoyancy, detail 
					Contact print of bags of water and raw eggs
 					&mdash; <%= link_to("(Statement)", atom_planet_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= '/ap4'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>