<div class="container-fluid detail-image" id="ap5">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-3">
			<%= image_tag("ap-5-electron.jpg", alt: "electron", 
			:class => "img-responsive")%><br />
		</div>

		<div class="col-xs-9 col-sm-3 col-md-3" id="detail3">
			<%= image_tag("ap-5-electron-detail.jpg", alt: "electron detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

<div class="arrow-row row">
		<div class="col-xs-2 col-md-2 col-lg-2">
					<a href= '/ap4'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Electron, 2011, 114 x 50 ins. and detail <%= link_to("(Statement)", atom_planet_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-2 col-md-2 col-lg-2">
						<a href= '/ap6'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>