<div class="container-fluid detail-image" id="ap9">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-5 col-md-4">
			<%= image_tag("ap-9-spirit.jpg", alt: "Spirit", 
			:class => "img-responsive")%></a>
		</div>

		<div class="col-xs-8 col-sm-4 col-md-3" id="detail5">
			<%= image_tag("spirit detail web.jpg", alt: "Spirit detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

			
<div class="arrow-row row">
		<div class="col-xs-3 col-md-3 col-lg-3">
					<a href= '/ap8'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-5 col-md-5 col-lg-5">
					<em> <em>Spirit, 2005, 86 x 42 ins. and detail </em><%= link_to("(Statement)", atom_planet_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-3 col-lg-3">
						<a href= '/ap10'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive ap-nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>