<div class="gallery-div">

<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>
<!--first row -->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bot-1-couples.jpg", alt: "botanicals", :class => "img-responsive"), botanicals_path %><br />
					Botanicals
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-1-10-1997-Austria.jpg", alt: "group", :class => "img-responsive" ), group_path %>
			<em>Group</em>
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-1-ceiling-dress.jpg", alt: "critcism", :class => "img-responsive"), layered_path %>
			<em>Layered, Buoyed, Tethered, Barely</em>
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-5-installation.jpg", alt: "bouyancy", :class => "img-responsive"),  bouyancy_path %>
			<em>Bouyancy Installation Cave</em>	
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("criticism.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>
</div>