<%= render 'scrollbars' %>

<div class="scrollable-gallery">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-1 From Earth to Sky button.jpg", alt: "From Earth to Sky"), gallery_path(:milan) %>
      From Earth to Sky
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-2 layered button.jpg", alt: "Layered"), gallery_path(:layered) %>
      Layered, Buoyed, Tethered, Barely
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-3 Group button.jpg", alt: "group"), gallery_path(:group) %>
      Group
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-4 botanical button.jpg", alt: "botanicals"), gallery_path(:botanicals) %><br />
      Botanicals
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-5 cave installation button.jpg", alt: "buoyancy"), gallery_path(:buoyancy) %>
      Buoyancy Installation Cave
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-7 botanical book button.jpg", alt: "botanical book bone"), gallery_path(:botanical_book) %>
      Botanical Book
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-6 monoprint button.jpg", alt: "monoprints"), gallery_path(:monoprints) %>
      Monoprints
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-8 hands button.jpg", alt: "hands 1"), gallery_path(:hands) %>
      Hands
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-9 little dress button.jpg", alt: "Dresses"), gallery_path(:dresses) %>
      Dresses
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-10 murals button.jpg", alt: "Mural 1"), gallery_path(:murals) %>
      Murals
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
      <%= link_to image_tag("archive-11 bubble button.jpg", alt: "Circles 1"), gallery_path(:circles) %>
      Circles
    </div>
  </div>
</div>
