<div class="row">
  <div class="col-12">
    <h2>Archive</h2>
  </div>
</div>

<div class="row scrollable-gallery-container">
  <div class="scrollable-gallery">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-1 From Earth to Sky button.jpg", alt: "From Earth to Sky"), gallery_path(:milan) %>
        From Earth to Sky
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-2 layered button.jpg", alt: "Layered"), gallery_path(:layered) %>
        Layered, Buoyed, Tethered, Barely
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-3 Group button.jpg", alt: "group"), gallery_path(:group) %>
        Group
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-4 botanical button.jpg", alt: "botanicals"), gallery_path(:botanicals) %><br />
        Botanicals
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-7 botanical book button.jpg", alt: "botanical book bone"), gallery_path(:botanical_book) %>
        Botanical Book
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-6 monoprint button.jpg", alt: "monoprints"), gallery_path(:monoprints) %>
        Monoprints
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("archive-9 little dress button.jpg", alt: "Dresses"), gallery_path(:dresses) %>
        Dresses
      </div>
    </div>
  </div>

  <%= render 'scrollbars' %>
</div>
