<div class="container-fluid detail-image" id="bodies1">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1">
			<%= image_tag("bodies-1-metaphor web.jpg", alt: "metaphor", 
			:class => "img-responsive")%><br />
		</div>
		
		<div class="col-xs-8 col-sm-4 col-md-3" >
			<%= image_tag("bodies-1a-metaphor-detail.jpg", alt: "metaphor detail", 
			:class => "img-responsive")%><br />
			<em></em>
		</div>
	</div>
</div>

<div class="arrow-row row">
		<div class="col-xs-2 col-md-2 col-lg-2">
					<a href= '/atomPlanetStatement'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>The Metaphoric Body, 130 x 50 ins. and detail <%= link_to("(Statement)", bodies_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-2 col-md-2 col-lg-2">
						<a href= '/bodies2'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>