<div class="container hidden-xs" id="botanicals-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-1-couples.jpg", alt: "couples", :class => "img-responsive", width: "480", height: "404"), botanicals_1_path %><br />
			<em>Couples</em>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-2-eyelash.jpg", alt: "eyelash", :class => "img-responsive", width: "480", height: "408"), botanicals_2_path %><br />
			<em>Eyelash</em>
		
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-3-flying.jpg", alt: "flying", :class => "img-responsive", width: "480", height: "401"), botanicals_3_path %><br />
			<em>Flying</em>
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-4-women.jpg", alt: "women", :class => "img-responsive", width: "480", height: "415"),  botanicals_4_path %><br />
			<em>Women</em>	
		</div>
	</div>

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%=  image_tag("bot-5.jpg", alt: "installation shot", :class => "img-responsive", width: "477", height: "639")%><br />
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%=  image_tag("bot-6.jpg", alt: "installation shot", :class => "img-responsive" )%><br />
		</div>
		<div class="clearfix visible-sm"></div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%=  image_tag("bot-7.jpg", alt: "installation shot", :class => "img-responsive")%><br />
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%=  image_tag("bot-8.jpg", alt: "installation shot", :class => "img-responsive") %><br />
		</div>
	</div>

	<div class="row" id="about-page-row">
		<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", botanicals_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>


</div>

<div class="container visible-xs" id="botanicals-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%= link_to image_tag("bot-1-couples-thumb.jpg", alt: "couples", :class => "img-responsive"), botanicals_1_path %><br />
			<em>Couples</em>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%= link_to image_tag("bot-2-eyelash-thumb.jpg", alt: "eyelash", :class => "img-responsive" ), botanicals_2_path %><br />
			<em>Eyelash</em>
		
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%= link_to image_tag("bot-3-flying-thumb.jpg", alt: "flying", :class => "img-responsive"), botanicals_3_path %><br />
			<em>Flying</em>
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%= link_to image_tag("bot-4-women-thumb.jpg", alt: "women", :class => "img-responsive"),  botanicals_4_path %><br />
			<em>Women</em>	
		</div>
	</div>

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%=  image_tag("bot-5.jpg", alt: "installation shot", :class => "img-responsive")%><br />
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%=  image_tag("bot-6.jpg", alt: "installation shot", :class => "img-responsive" )%><br />
		</div>
		<div class="clearfix visible-sm"></div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%=  image_tag("bot-7.jpg", alt: "installation shot", :class => "img-responsive")%><br />
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="xs-about-row">
			<%=  image_tag("bot-8.jpg", alt: "installation shot", :class => "img-responsive") %><br />
		</div>
	</div>

	<div class="row" id="about-page-row">
		<div class="col-xs-6 col-sm-6 col-md-3 link " id="xs-gallery-row">
				<div class="bot-statement-box bot-statement-text" id="statement">
					<strong><%= link_to"Statement", botanicals_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>


</div>



