<% u = 4 %>
<div class="container-fluid detail-image" id="ap9">

	<div class="row detail-row-ap">
		<div class="col-xs-8 col-sm-5 col-md-4">
			<%= image_tag("ap-9-spirit.jpg", alt: "Spirit", 
			:class => "img-responsive")%></a>
		</div>

		<div class="col-xs-8 col-sm-4 col-md-3" id="detail5">
			<%= image_tag("spirit detail web.jpg", alt: "Spirit detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>


<div class="arrow-row row">
			<div class="col-xs-3 col-md-2 col-lg-2">
			<a href= '/bouyancy<%= u - 1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Your Spirit Will Pass Out of Your Body and Back Into the Universe, 2005, 42 x 96 ins. &mdash; <%= link_to("(Statement)", bouyancy_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
			<a href= '/bouyancy<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a><br />
		</div>
	</div>	
</div>