<% u = 8 %>
<div class="container-fluid detail-image" id="bouyancy8">
	<div class="row">
		<div class="col-xs-11 col-sm-10 col-md-8">
			<%= image_tag("bouyancy-10-boxes-in-room.jpg", alt: "Life Cycle", 
			:class => "img-responsive")%></a><br />
			<div class="row detail-text">
		</div>
	</div>
</div>

<div class="arrow-row row">
			<div class="col-xs-3 col-md-2 col-lg-2">
			<a href= '/bouyancy<%= u - 1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Botanical boxes installed &mdash; <%= link_to("(Statement)", bouyancy_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
			<a href= '/bouyancy<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a><br />
		</div>
	</div>	
</div>