
<div class="gallery-div">

<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs" id="scroll-up">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs" id="scroll-down"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>

<!--first row-->
<div class="scrollable-gallery">
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-1-you-are-born.jpg", alt: "You are born", :class => "img-responsive", width: "226", height: "480"), bouyancy_1_path %><br />
				You Are Born, 2005, 42 x 96 ins.  (plus detail)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-2-the-path-you-walk-will-be-who-you-are-crop.jpg", alt: "The path you walk will be who you are", :class => "img-responsive", width: "237", height: "480"), bouyancy_2_path %><br />
				The Path You Walk Will Be Who You Are, 2005, 42 x 96 ins.
			</div>

					 <div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-3-you-will-die.jpg", alt: "you will die", :class => "img-responsive", width: "299", height: "480"), bouyancy_3_path %><br />
				You Will Die (plus detail), 2005, 42 x 96 ins.
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-4-Your-spirit-will-pass-out-of-your-body-and-back-into-the-universe.jpg", alt: "Your spirit will pass out of your body and back into the universe", :class => "img-responsive", width: "263", height: "480"),  bouyancy_4_path %><br />
				Your Spirit Will Pass Out of Your Body and Back Into the Universe, 2005, 42 x 96 ins.	
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-9-life-cycle-installed.jpg", alt: "We are all connected", :class => "img-responsive", width: "480", height: "244"), bouyancy_5_path %><br />
				Life Cycle installed, 2005, 14 feet wide
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-6-connected-globe.jpg", alt: "We are all connected", :class => "img-responsive", width: "480", height: "306"), bouyancy_6_path %><br />
				We Are All Connected, 2005, 312 x 120 ins
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-7-globe detail (upper) crop.jpg", alt: "We are all connected details", :class => "img-responsive"), bouyancy_7_path %><br />
				We Are All Connected, Detail
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-10-boxes-in-room.jpg", alt: "We are all connected", :class => "img-responsive", width: "480", height: "320"), bouyancy_8_path %><br />
				Botanical boxes installed
			</div>
		
			
		</div>
	</div>

	<div class="container-fluid" id="gallery-page-container">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("bouyancy-11-wall-of-circles.jpg", alt: "We are all connected", :class => "img-responsive", width: "480", height: "381"), bouyancy_9_path %><br />
				Wall of circles installed, 8 x 8 foot wall
			</div>	

			<div class="col-xs-10 col-sm-6 col-md-3 link " id="gallery-row">
				
					<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", bouyancy_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>

		</div>
	</div>

</div>

</div>


</div>

</div>
