<% u = 3 %>
<div class="container-fluid detail-image" id="bouyancy3">

	<div class="row detail-row-layered">
		<div class="col-xs-8 col-sm-5 col-md-4">
			<%= image_tag("bouyancy-3-you-will-die.jpg", alt: "Bouyancy 3 ", 
			:class => "img-responsive")%><br />
		</div>
		

	<div class="col-xs-8 col-sm-5 col-md-4" id="detail1">
			<%= image_tag("bouyancy-3a-you-will-die-detail-alt.jpg", alt: "you will die detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

<div class="arrow-row row">
			<div class="col-xs-3 col-md-2 col-lg-2">
					<a href= '/bouyancy<%= u - 1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>You Will Die and detail &mdash; <%= link_to("(Statement)", bouyancy_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= '/bouyancy<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>