<div class="container-fluid detail-image">

		<div class="row detail-row-bouyancy">
		<div class="col-xs-8 col-sm-5 col-md-4">
			<%= image_tag("bouyancy-1-you-are-born.jpg", alt: "Bouyancy 1 ", 
			:class => "img-responsive")%><br />
		</div>
		

			<div class="col-xs-8 col-sm-4 col-md-3" id="detail5">
			<%= image_tag("bouyancy-1a-you-are-born-detail.jpg", alt: "cyou were born detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

<div class="arrow-row row">
			<div class="col-xs-3 col-md-2 col-lg-2">
					<a href= '/bouyancyStatement'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>You Are Born, 2005, 42 x 96 ins. and detail &mdash; <%= link_to("(Statement)", bouyancy_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= '/bouyancy2'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive nav-clock-hand")%>
					</a><br />
		</div>
	</div>	
</div>