

<div class="gallery-div">

<!--first rowow-->
	<div class="container hidden-xs" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12" id="gallery-row">
				<%= link_to image_tag("bubbles-1.jpg", alt: "circles 1", :class => "img-responsive"), circles_statement_path %><br />
			</div>
		</div>

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12" id="gallery-row">
				<%= link_to image_tag("bubbles-2.jpg", alt: "circles 2", :class => "img-responsive" ), circles_statement_path %><br />			
			</div>
		</div>

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12" id="gallery-row">
				<%= link_to image_tag("bubbles-3.jpg", alt: "circles 3", :class => "img-responsive"), circles_statement_path %><br />
			</div>
		</div>

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12" id="gallery-row">
				<%= link_to image_tag("bubbles-4.jpg", alt: "circles 4", :class => "img-responsive"), circles_statement_path %><br />
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", circles_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>

<div class="container visible-xs" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12" id="xs-gallery-row">
				<%= link_to image_tag("bubbles-1.jpg", alt: "circles 1", :class => "img-responsive"), circles_statement_path %><br />
			</div>
		</div>

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12" id="xs-gallery-row">
				<%= link_to image_tag("bubbles-2.jpg", alt: "circles 2", :class => "img-responsive" ), circles_statement_path %><br />			
			</div>
		</div>

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12" id="xs-gallery-row">
				<%= link_to image_tag("bubbles-3.jpg", alt: "circles 3", :class => "img-responsive"), circles_statement_path %><br />
			</div>
		</div>

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12" id="xs-gallery-row">
				<%= link_to image_tag("bubbles-4.jpg", alt: "circles 4", :class => "img-responsive"), circles_statement_path %><br />
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 link " id="xs-gallery-row">
				<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", circles_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>


</div>