

<div class="gallery-div">

<!--first rowow-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("dresses-3-images.jpg", alt: "dresses1", :class => "img-responsive"), dresses_statement_path %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("dresses-caress.jpg", alt: "dresses 2", :class => "img-responsive" ), dresses_statement_path %><br />			
			</div>

			<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("dresses-fringe-dress.jpg", alt: "dresses 3", :class => "img-responsive"), dresses_statement_path %><br />
			</div>
		
			<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<%= link_to image_tag("dresses-little-dress.jpg", alt: "dresses 4", :class => "img-responsive"), dresses_statement_path %><br />
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("dresses-red-dress.jpg", alt: "dresses 5", :class => "img-responsive"), dresses_statement_path %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("dresses-shoulders.jpg", alt: "dresses 6", :class => "img-responsive"), dresses_statement_path%><br />			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("dresses-yellow-dress.jpg", alt: "dresses 7", :class => "img-responsive"), dresses_statement_path %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", dresses_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		

		</div>
	</div>

</div>