
<div class="gallery-div">





<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs" id="scroll-up">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs" id="scroll-down"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>

<!--first row-->
<div class="scrollable-gallery hidden-xs">
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_1-thumb.jpg", alt: "garden_diana_1", :class => "img-responsive"), garden_diana_1_path %><br />
				#13 Baby carriage, Budapest, Hungary 1992
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_2-thumb.jpg", alt: "garden_diana_2", :class => "img-responsive" ), garden_diana_2_path %><br />
				#4 Self portrait with egg, New York, 1991
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_3-thumb.jpg", alt: "garden_diana_3", :class => "img-responsive"), garden_diana_3_path %><br />
				#20 Ferry tender
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_4-thumb.jpg", alt: "garden_diana_4", :class => "img-responsive"),  garden_diana_4_path %><br />
				#1 Carousel, Tuileries Garden, Paris, 1991	
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_5-thumb.jpg", alt: "garden_diana_5", :class => "img-responsive"), garden_diana_5_path %><br />
				#10 Don't mow, Hadley, Mass, 1989
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_6-thumb.jpg", alt: "garden_diana_6", :class => "img-responsive" ), garden_diana_6_path %><br />
				#9 Root balls, Long Island, NY
			</div>

						<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_7-thumb.jpg", alt: "garden_diana_7", :class => "img-responsive"), garden_diana_7_path %><br />
				#11 Kudzu, TN
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_8-thumb.jpg", alt: "garden_diana_8", :class => "img-responsive"),  garden_diana_8_path %><br />
				#14 Shipyard, Suomenlinna, Finland, 1993
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_9-thumb.jpg", alt: "garden_diana_9", :class => "img-responsive"), garden_diana_9_path %><br />
				#15 Little door, Suomenlinna, Finland, 1993
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_10-thumb.jpg", alt: "garden_diana_10", :class => "img-responsive" ), garden_diana_10_path %><br />
				#67 Pavel Pecha's mother's garden, Slovakia
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_11-thumb.jpg", alt: "garden_diana_11", :class => "img-responsive"), garden_diana_11_path %><br />
				#16 Ladder, Pavel Banka’s garden outside of Prague
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_12-thumb.jpg", alt: "garden_diana_12", :class => "img-responsive"),  garden_diana_12_path %><br />
				#44 Zig zag fence, Breaux Bridge, Louisiana
			</div>
		</div>
	</div>

<!--fourth row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_13-thumb.jpg", alt: "garden_diana_13", :class => "img-responsive"), garden_diana_13_path %><br />
				#7 Drip castle, Rockport, Maine
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_14-thumb.jpg", alt: "garden_diana_14", :class => "img-responsive" ), garden_diana_14_path %><br />
				#66 Contessa, Burning Man, Nevada, 2006
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_15-thumb.jpg", alt: "garden_diana_15", :class => "img-responsive"), garden_diana_15_path %><br />
				#27 Fuzzy willow, Budapest, Hungary
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_16-thumb.jpg", alt: "garden_diana_16", :class => "img-responsive"), garden_diana_16_path %><br />
				#65 My sister's wedding, Long Island, NY
			</div>

		</div>
	</div>

	<!--fifth row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_17-thumb.jpg", alt: "garden_diana_17", :class => "img-responsive"), garden_diana_17_path %><br />
				#23 Laundry, Schrattenberg, Austria, 1995
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_18-thumb.jpg", alt: "garden_diana_18", :class => "img-responsive" ), garden_diana_18_path %><br />
				#32 House and fence, Breaux Bridge, Louisiana
			</div>

						<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_19-thumb.jpg", alt: "garden_diana_19", :class => "img-responsive"), garden_diana_19_path %><br />
				#30 Hen house and pots, Breaux Bridge, Louisiana
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("garden_diana_20-thumb.jpg", alt: "garden_diana_20", :class => "img-responsive"), garden_diana_20_path %><br />
				#22 Arch in Prague, Czech Republic
			</div>

		</div>
	</div>


	<div class="container-fluid" id="gallery-page-container">
		<div class="row" id="gallery-page-row">
			<div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
				<<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", atom_planet_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>


</div>

<div class="scrollable-gallery visible-xs">
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("garden_diana_1-thumb.jpg", alt: "garden_diana_1", :class => "img-responsive") %><br />
				#13 Baby carriage, Budapest, Hungary 1992
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_2-thumb.jpg", alt: "garden_diana_2", :class => "img-responsive" ) %><br />
				#4 Self portrait with egg, New York, 1991
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_3-thumb.jpg", alt: "garden_diana_3", :class => "img-responsive") %><br />
				#20 Ferry tender
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_4-thumb.jpg", alt: "garden_diana_4", :class => "img-responsive") %><br />
				#1 Carousel, Tuileries Garden, Paris, 1991	
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_5-thumb.jpg", alt: "garden_diana_5", :class => "img-responsive") %><br />
				#10 Don't mow, Hadley, Mass, 1989
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_6-thumb.jpg", alt: "garden_diana_6", :class => "img-responsive" ) %><br />
				#9 Root balls, Long Island, NY
			</div>

						<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_7-thumb.jpg", alt: "garden_diana_7", :class => "img-responsive") %><br />
				#11 Kudzu, TN
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_8-thumb.jpg", alt: "garden_diana_8", :class => "img-responsive") %><br />
				#14 Shipyard, Suomenlinna, Finland, 1993
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("garden_diana_9-thumb.jpg", alt: "garden_diana_9", :class => "img-responsive") %><br />
				#15 Little door, Suomenlinna, Finland, 1993
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_10-thumb.jpg", alt: "garden_diana_10", :class => "img-responsive" ) %><br />
				#67 Pavel Pecha's mother's garden, Slovakia
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_11-thumb.jpg", alt: "garden_diana_11", :class => "img-responsive") %><br />
				#16 Ladder, Pavel Banka’s garden outside of Prague
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_12-thumb.jpg", alt: "garden_diana_12", :class => "img-responsive") %><br />
				#44 Zig zag fence, Breaux Bridge, Louisiana
			</div>
		</div>
	</div>

<!--fourth row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_13-thumb.jpg", alt: "garden_diana_13", :class => "img-responsive") %><br />
				#7 Drip castle, Rockport, Maine
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_14-thumb.jpg", alt: "garden_diana_14", :class => "img-responsive" ) %><br />
				#66 Contessa, Burning Man, Nevada, 2006
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_15-thumb.jpg", alt: "garden_diana_15", :class => "img-responsive") %><br />
				#27 Fuzzy willow, Budapest, Hungary
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_16-thumb.jpg", alt: "garden_diana_16", :class => "img-responsive") %><br />
				#65 My sister's wedding, Long Island, NY
			</div>

		</div>
	</div>

	<!--fifth row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_17-thumb.jpg", alt: "garden_diana_17", :class => "img-responsive") %><br />
				#23 Laundry, Schrattenberg, Austria, 1995
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_18-thumb.jpg", alt: "garden_diana_18", :class => "img-responsive" ) %><br />
				#32 House and fence, Breaux Bridge, Louisiana
			</div>

						<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_19-thumb.jpg", alt: "garden_diana_19", :class => "img-responsive") %><br />
				#30 Hen house and pots, Breaux Bridge, Louisiana
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("garden_diana_20-thumb.jpg", alt: "garden_diana_20", :class => "img-responsive") %><br />
				#22 Arch in Prague, Czech Republic
			</div>

		</div>
	</div>


	<div class="container-fluid" id="gallery-page-container">
		<div class="row" id="gallery-page-row">
			<div class="col-xs-9 col-sm-6 col-md-3 link " id="gallery-row">
				<<div class="statement-box statement-text" id="statement">
					<strong><%= link_to"Statement", atom_planet_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>


</div>
</div>
</div>