<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs" id="scroll-up">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs" id="scroll-down"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>
<!--first row-->
<div class="scrollable-gallery">
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-1-10-1997-Austria-thumb.jpg", alt: "Goup # 10", :class => "img-responsive"), group_1_path %><br />
				Chair, Austria, 1997
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-3-5-1997-Austria-thumb.jpg", alt: "group_3", :class => "img-responsive"), group_2_path %><br />
				Jovan, Austria, 1997
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-4-2-1997-Czech-thumb.jpg", alt: "group_4", :class => "img-responsive"),  group_3_path %><br />
				Radek #1, Czech Republic, 1997
			</div>

		    <div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-5-13-2001-New-York-thumb.jpg", alt: "group_5", :class => "img-responsive"), group_4_path %><br />
				Radek #4, New York 2001
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-6-3-1997-Czech-thumb.jpg", alt: "group_6", :class => "img-responsive" ), group_5_path %><br />
				Radek #2, Czech Republic, 1997
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-7-12-1998-New-York web copy-thumb.jpg", alt: "group_7", :class => "img-responsive"), group_6_path %><br />
				Radek #3, New York, 1998
			</div>
		
			<div class="clearfix visible-sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-8-6-1997-Austria-thumb.jpg", alt: "group_8", :class => "img-responsive"),  group_7_path %><br />
				Saku Aila, Austria, 1997
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-9-8-1997-Austria-thumb.jpg", alt: "group_9", :class => "img-responsive"), group_8_path %><br />
				Anabela Sara, Austria, 1997
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-10-9-1997-Austria-thumb.jpg", alt: "group_10", :class => "img-responsive" ), group_9_path %><br />
				Ring of people, Austria, 1997
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-11-11-1997-New-York-thumb.jpg", alt: "group_11", :class => "img-responsive"), group_10_path %><br />
				Sugar, New York, 1997
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-12-14-2001-New-Jersey-thumb.jpg", alt: "group_12", :class => "img-responsive"),  group_11_path %><br />
				Radek #5, New Jersey, 2001
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-13-7-1997-Austria-thumb.jpg", alt: "group_13", :class => "img-responsive"), group_12_path %><br />
				Tasho, Austria, 1997
			</div>
		</div>
	</div>

<!--fourth row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Group-2-1-1997-Czech-thumb.jpg", alt: "group_2", :class => "img-responsive" ), group_13_path %><br />
				Jana, Czech Republic, 1997
			
			</div>

			<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box" id="statement">
					<strong><%= link_to"Statement", group_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>

		</div>
	</div>
</div>

</div>