<% u = 11 %>
<div class="container-fluid detail-image" id="group1">
	<div class="row">
		<div class="col-xs-7 col-xs-offset-1">
			<%= image_tag("Group-12-14-2001-New-Jersey.jpg", alt: "pillow_book_1", 
			:class => "img-responsive")%></a><br />
		</div>
	</div>
</div>

<div class="arrow-row row">
			<div class="col-xs-2 col-md-2 col-lg-2">
					<a href= '/Group<%= u - 1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a><br />
				</div>
				<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Radek #5, New Jersey, 2001&mdash; <%= link_to("Read Artists Statement", group_statement_path, :class => "link" ) %></em>
				</div>
				<div class="col-xs-2 col-md-2 col-lg-2">
					<a href= '/Group<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive nav-clock-hand")%></a><br />
				</div>
			</div>	

		</div>
	</div>
</div>