

<div class="gallery-div">

<!--first rowow-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand1.jpg", alt: "hand1", :class => "img-responsive"), hands_statement_path %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand2.jpg", alt: "hand2", :class => "img-responsive" ), hands_statement_path %><br />			
			</div>

			<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand3.jpg", alt: "hand3", :class => "img-responsive"), hands_statement_path %><br />
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand4.jpg", alt: "hand4", :class => "img-responsive"), hands_statement_path %><br />
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand5.jpg", alt: "icon_diana_5", :class => "img-responsive"), hands_statement_path %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand6.jpg", alt: "hand6", :class => "img-responsive"), hands_statement_path%><br />			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand7.jpg", alt: "hand7", :class => "img-responsive"), hands_statement_path %><br />
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("hand8.jpg", alt: "hand8", :class => "img-responsive"), hands_statement_path%><br />
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
			<div class="col-xs-12 col-sm-6 col-md-3 link " id="hands-gallery-row">
				<div class="statement-box statement-text" id="statement">
							<strong><%= link_to"Statement", hands_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>



</div>