

<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>
<!--first rowow-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_1.jpg", alt: "icon_diana_1", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_2.jpg", alt: "icon_diana_2", :class => "img-responsive" ), icon_dianas_statement_path %>
				description, date
			
			</div>
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_3.jpg", alt: "icon_diana_3", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>
		

		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_4.jpg", alt: "icon_diana_4", :class => "img-responsive"),  icon_dianas_statement_path %>
				description, date	
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_5.jpg", alt: "icon_diana_5", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_6.jpg", alt: "icon_diana_6", :class => "img-responsive" ), icon_dianas_statement_path %>
				description, date
			
			</div>
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_7.jpg", alt: "icon_diana_7", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>
		

		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_8.jpg", alt: "icon_diana_8", :class => "img-responsive"),  icon_dianas_statement_path %>
				description, date	
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_9.jpg", alt: "icon_diana_9", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_10.jpg", alt: "icon_diana_10", :class => "img-responsive" ), icon_dianas_statement_path %>
				description, date
			
			</div>
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_11.jpg", alt: "icon_diana_11", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_12.jpg", alt: "icon_diana_12", :class => "img-responsive"),  icon_dianas_statement_path %>
				description, date	
			</div>
		</div>
	</div>

<!--fourth row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_12.jpg", alt: "icon_diana_13", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_14.jpg", alt: "icon_diana_14", :class => "img-responsive" ), icon_dianas_statement_path %>
				description, date
			
			</div>
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_15.jpg", alt: "icon_diana_15", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_16.jpg", alt: "icon_diana_16", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

		</div>
	</div>

	<!--fifth row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_17.jpg", alt: "icon_diana_17", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>

			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_18.jpg", alt: "icon_diana_18", :class => "img-responsive" ), icon_dianas_statement_path %>
				description, date
			
			</div>
		
			<div class="col-sm-3" id="gallery-row">
				<%= link_to image_tag("icon_diana_19.jpg", alt: "icon_diana_19", :class => "img-responsive"), icon_dianas_statement_path %>
				description, date
			</div>
		</div>
	</div>
</div>