<% u = 6 %>
<div class="container-fluid detail-image" id="layered4">
	<div class="row">
		<div class="col-xs-10 col-sm-6 col-md-5">
			<%= image_tag("Layered-8-seed-pods-web.jpg", alt: "Layered ceiling dress", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

</div>
	<div class="arrow-row row">
		<div class="col-xs-3 col-md-2 col-lg-2">
					<a href= '/layered<%= u-1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Seed Pod Cyanotype &mdash; <%= link_to("(Statement)", layered_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= '/layered<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%>
					</a><br />
		</div>
	</div>
</div>	
