<div class="container-fluid detail-image">
	<div class="row detail-row-layered">
		<div class="col-xs-8 col-md-4">
			<%= image_tag("Layered-3-dress-copy.jpg", alt: "Layered ceiling dress", 
			:class => "img-responsive")%><br />
		</div>
		<div class="clearfix visible-lg"></div>
		<div class="col-xs-8 col-md-5">
			<%= image_tag("Layered-4-dress-detail.jpg", alt: "ceiling detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 pull-left">
					<a href= '/layered1'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive")%></a></a><br />
		</div>
		<div class= "col-xs-8" id="detail-text">
					<em>Ceiling and dress, 2008, NYC &mdash; <%= link_to("Read Artists Statement", layered_statement_path) %></em>
		</div>
		<div class="col-xs-2 pull-right">
						<a href= '/layered3'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive")%>
					</a><br />
		</div>
	</div>	
</div>