
<div class="gallery-div">

<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs" id="scroll-up">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs" id="scroll-down"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>

<!--first row-->
<div class="scrollable-gallery hidden-xs">
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-1-ceiling-dress-thumb.jpg", alt: "layered ceiling dress", :class => "img-responsive"), layered_1_path %><br />
				Ceiling and dress, 2008, NYC, and detail
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-3-dress-copy-thumb.jpg", alt: "layered dress", :class => "img-responsive" ), layered_2_path %><br />
				Ceiling and dress, and detail
			</div>
		
		 <div class="clearfix visible-sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-5-blumb-bobs-thumb.jpg", alt: "layered blumb bobs", :class => "img-responsive"), layered_3_path %><br />
				Plumb bobs
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-6-paper-web-thumb.jpg", alt: "layered paper ", :class => "img-responsive"),  layered_4_path %><br />
				Paper Cyanotype
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-7-stripes-hole-web-thumb.jpg", alt: "layered stripes hole", :class => "img-responsive"), layered_5_path %><br />
				Striped dress Cyanotype
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-8-seed-pods-web-thumb.jpg", alt: "layered seed pods", :class => "img-responsive" ), layered_6_path %><br />
				Seed Pods Cyanotype
			</div>

		 <div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-9-cotton-web-thumb.jpg", alt: "layered cotton", :class => "img-responsive"), layered_7_path %><br />
				Cotton Cyanotype
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-x1-eggshell-web-thumb.jpg", alt: "layered eggshell", :class => "img-responsive"),  layered_8_path %><br />
				Eggshell Cyanotype
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-x2-feathers-web-thumb.jpg", alt: "layered feathers", :class => "img-responsive"), layered_9_path %><br />
				Feather Cyanotype
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-x3-hairball-web-thumb.jpg", alt: "layered hairball", :class => "img-responsive" ), layered_10_path %><br />
				Hairball Cyanotype
			</div>

		 
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("Layered-x4-little-solid-dress-web-thumb.jpg", alt: "layered little solid dress", :class => "img-responsive"), layered_11_path %><br />
				Little Dresss Cyanotype
			</div>

			<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box" id="statement">
					<strong><%= link_to"Statement", layered_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="scrollable-gallery visible-xs">
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-1-ceiling-dress-thumb.jpg", alt: "layered ceiling dress", :class => "img-responsive") %><br />
				Ceiling and dress, 2008, NYC, and detail
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-3-dress-copy-thumb.jpg", alt: "layered dress", :class => "img-responsive" ) %><br />
				Ceiling and dress, and detail
			</div>
		
		 <div class="clearfix visible-sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-5-blumb-bobs-thumb.jpg", alt: "layered blumb bobs", :class => "img-responsive") %><br />
				Plumb bobs
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-6-paper-web-thumb.jpg", alt: "layered paper ", :class => "img-responsive") %><br />
				Paper Cyanotype
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-7-stripes-hole-web-thumb.jpg", alt: "layered stripes hole", :class => "img-responsive") %><br />
				Striped dress Cyanotype
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-8-seed-pods-web-thumb.jpg", alt: "layered seed pods", :class => "img-responsive" ) %><br />
				Seed Pods Cyanotype
			</div>

		 <div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-9-cotton-web-thumb.jpg", alt: "layered cotton", :class => "img-responsive") %><br />
				Cotton Cyanotype
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-x1-eggshell-web-thumb.jpg", alt: "layered eggshell", :class => "img-responsive") %><br />
				Eggshell Cyanotype
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-x2-feathers-web-thumb.jpg", alt: "layered feathers", :class => "img-responsive") %><br />
				Feather Cyanotype
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-x3-hairball-web-thumb.jpg", alt: "layered hairball", :class => "img-responsive" ) %><br />
				Hairball Cyanotype
			</div>

		 
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("Layered-x4-little-solid-dress-web-thumb.jpg", alt: "layered little solid dress", :class => "img-responsive") %><br />
				Little Dresss Cyanotype
			</div>

			<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box" id="statement">
					<strong><%= link_to "Statement", layered_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>