<% u = 2 %>
<div class="container-fluid detail-image" id="layered2">

	<div class="row detail-row-layered-2">
		<div class="col-xs-8 col-sm-5 col-md-5">
			<%= image_tag("Layered-3-dress-copy.jpg", alt: "Layered ceiling dress", 
			:class => "img-responsive")%><br />
		</div>

		<div class="col-xs-8 col-sm-5 col-md-5"> 
			<%= image_tag("Layered-4-dress-detail.jpg", alt: "ceiling detail", 
			:class => "img-responsive")%><br />
		</div>
	</div>
</div>

<div class="arrow-row row ">
		<div class="col-xs-2 col-md-2 col-lg-2">
					<a href= '/layered<%= u-1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Ceiling and dress, 2008, NYC, and detail-- <%= link_to("Read Artists Statement", layered_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-2 col-md-2 col-lg-2">
						<a href= '/layered<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%>
					</a><br />
		</div>
	</div>
</div>	