

<div class="gallery-div">

<!--first rowow-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-1-arms-out.jpg", alt: "arms out", :class => "img-responsive") %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("2 house and cloudweb.jpg", alt: "house and cloud", :class => "img-responsive") %><br />		
			</div>
				<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-3-pats-web.jpg", alt: "Pat's web", :class => "img-responsive") %><br />
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-4-fly-from house.jpg", alt: "fly from house", :class => "img-responsive") %><br />
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-5-bird-person.jpg", alt: "bird person", :class => "img-responsive") %><br />
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-6-run-from-ball.jpg", alt: "run from ball", :class => "img-responsive") %><br />
			</div>

				<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-7-whirlpool.jpg", alt: "whirlpool", :class => "img-responsive") %><br />
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= image_tag("monoprints-8-swarm.jpg", alt: "swarm", :class => "img-responsive") %><br />
			</div>
		</div>
	</div>

</div>