<div class="gallery-div">

<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>

	<!--first row -->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-1-atom.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-2-bone.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-3-bouyancy.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-4-cells.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-5-electron.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-6-flare.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-7-fragility.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-8-planet.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-9-spirit.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>


		</div>
	</div>
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		


	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		



		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-2-bone-detail.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-1-atom-detail.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-3-bouyancy-detail.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>

						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-4-cell-detail.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>

						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-5-electron-detail.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-7-fragility-detail.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-8-planet-detail.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("ap-6-flare-detail.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		

		</div>
	</div>
</div>