<% u = 9 %>
<div class="container-fluid detail-image" id="diana1">
	<div class="row">
		<div class="col-xs-7">
			<%= image_tag("pillow_book_9.jpg", alt: "pillow_book_1", 
			:class => "img-responsive")%></a><br />
			<em></em>
		</div>
	</div>
</div>

<div class="arrow-row row">
		<div class="col-xs-3 col-md-3 col-lg-3">
					<a href= '/pillowBook<%= u - 1 %>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-4 col-md-6 col-lg-6">
					<em>Pillow Book #3     Austria, 1998 &mdash; <%= link_to("(Statement)", pillow_book_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-3 col-lg-3">
						<a href= '/pillowBook<%= u + 1 %>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%>
					</a><br />
		</div>
	</div>
</div>	