<style>
	
	.gallery-div {
		overflow: scroll;
	}


	.gallery-page-container {
		text-align: center;
		margin-top: 1%;
		margin-bottom: 1%;

	}
</style>

<div class="gallery-div">

<!--first row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_1.jpg", alt: "pillow_book_1", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>

			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_2.jpg", alt: "pillow_book_2", :class => "img-responsive" ), pillow_book_statement_path %>
				description, date
			
			</div>
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_3.jpg", alt: "pillow_book_3", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>
		

		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_4.jpg", alt: "pillow_book_4", :class => "img-responsive"),  pillow_book_statement_path %>
				description, date	
			</div>
		</div>
	</div>

<!--second row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_5.jpg", alt: "pillow_book_5", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>

			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_6.jpg", alt: "pillow_book_6", :class => "img-responsive" ), pillow_book_statement_path %>
				description, date
			
			</div>
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_7.jpg", alt: "pillow_book_7", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>
		

		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_8.jpg", alt: "pillow_book_8", :class => "img-responsive"),  pillow_book_statement_path %>
				description, date	
			</div>
		</div>
	</div>

<!--third row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_9.jpg", alt: "pillow_book_9", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>

			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_10.jpg", alt: "pillow_book_10", :class => "img-responsive" ), pillow_book_statement_path %>
				description, date
			
			</div>
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_11.jpg", alt: "pillow_book_11", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>
		

		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_12.jpg", alt: "pillow_book_12", :class => "img-responsive"),  pillow_book_statement_path %>
				description, date	
			</div>
		</div>
	</div>

<!--fourth row-->
	<div class="container-fluid" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_12.jpg", alt: "pillow_book_13", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>

			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_14.jpg", alt: "pillow_book_14", :class => "img-responsive" ), pillow_book_statement_path %>
				description, date
			
			</div>
		
			<div class="col-md-3" id="gallery-row">
				<%= link_to image_tag("pillow_book_15.jpg", alt: "pillow_book_15", :class => "img-responsive"), pillow_book_statement_path %>
				description, date
			</div>

		</div>
	</div>
</div>