<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'title', locals: { gallery: @gallery } %>
  </div>
</div>

<div class="row scrollable-gallery-container">
  <div class="scrollable-gallery">
    <div class="row">
      <div class="col-xs-12 gallery-item">
        <%= render partial: 'image', locals: { image: @gallery.images.first } %>
      </div>
    </div>

    <div class="row">
      <% @gallery.images[1..-4].each_with_index do |image, index| %>
        <div class="col-md-4 col-sm-6 col-xs-12 gallery-item">
          <%= render partial: 'image', locals: { image: image } %>
        </div>
        <%= loop_clearfix index %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-12 gallery-item">
        <%= render partial: 'image', locals: { image: @gallery.images[-3] } %>
      </div>

      <div class="clearfix visible-xs"></div>

      <% @gallery.images[-2..-1].each do |image| %>
        <div class="col-sm-3 col-xs-12 gallery-item">
          <%= render partial: 'image', locals: { image: image } %>
        </div>
        <div class="clearfix visible-xs"></div>
      <% end %>
    </div>
  </div>

  <%= render 'scrollbars' %>
</div>
