<style>
	#about-page-container {
		text-align: center;


	}
</style>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-01-58.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-02-24.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-03-21.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	

	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-04-55.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-05-38.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-06-12.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-07-25.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-08-03.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-09-41.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-10-22.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-11-29.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-12-61.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-13-02.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-14-40.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-15-63.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-16-35.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-17-70.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-18-31.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-19-73.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-20-26.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-21-67.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-22-36.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-23-33.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-24-72.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-25-46.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-26-54.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-27-39.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-28-32.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-29-37.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-30-10.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-31-52.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-32-20-x.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-33-43.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-34-18.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-35-05.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-36-49.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-37-14.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-38-34.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-39-74.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
		
		<div class="col-sm-3" id="about-row">
			<%= link_to image_tag("sp-40-68.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

