<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs" id="scroll-up">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs" id="scroll-down"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>

<!--rows -->	
<div class="scrollable-gallery">
<div class="container" id="gallery-page-container">
	<div class="row" id="gallery-page-row">
		<div class="col-xs-12 col-sm-12 col-md-12" id="gallery-row">
			<%= link_to image_tag("sp-08-03.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_1_path %><br />
			Untitled Self Portrait #3, Connecticut, 1987
		</div>
	</div>
</div>


<div class="container" id="gallery-page-container">
	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-01-58-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_2_path %><br />
			Untitled Self Portrait #58, Austria, 1994<br />
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-02-24-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_3_path %><br />
			Untitled Self Portrait #24, California, 1989
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-03-21-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_4_path %><br />
			Untitled Self Portrait #21, California, 1989
		</div>
	

	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-04-55-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_5_path %><br />
			Untitled Self Portrait #55, Ohio, 1994
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-05-38-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_6_path %><br />
			Untitled Self Portrait #38, Czech Republic, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-09-41-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_7_path %><br />
			Untitled Self Portrait #41, Hungary, 1992
		</div>

		<div class="clearfix visible-sm"></div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-10-22-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_8_path %><br />
			Untitled Self Portrait #22, California, 1989
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-12-61-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_9_path %><br />
			Untitled Self Portrait #61, Austria, 1994	
		</div>

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-06-12-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_10_path %><br />
			Untitled Self Portrait #12, Connecticut, 1989
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-07-25-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_11_path %><br />
			Untitled Self Portrait #25, Massachusetts, 1990
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-11-29-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_12_path %><br />
			Untitled Self Portrait #29, Massachusetts, 1990
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-16-35-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_13_path %><br />
			Untitled Self Portrait #35, New Hampshire, 1991
		</div>
		

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-13-02-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_14_path %><br />
			Untitled Self Portrait #2, Wyoming, 1987
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-14-40-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_15_path %><br />
			Untitled Self Portrait #40, Hungary, 1992
		</div>

		<div class="clearfix visible-sm"></div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-15-63-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_16_path %><br />
			Untitled Self Portrait #63, New York, 1995
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-18-31-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_17_path %><br />
			Untitled Self Portrait #31, Massachusetts, 1991
		</div>
		

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-17-70-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_18_path %><br />
			Untitled Self Portrait #70, Austria, 1995
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-19-73-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_19_path %><br />
			Untitled Self Portrait #73, Austria, 1995
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-20-26-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_20_path %><br />
			Untitled Self Portrait #26, Massachusetts, 1990
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-21-67-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_21_path %><br />
			Untitled Self Portrait #67, New York, 1995
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	


		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-22-36-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_22_path %><br />
			Untitled Self Portrait #36, New Jersey, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-25-46-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_23_path %><br />
			Untitled Self Portrait #46, Maine, 1993
		</div>

		<div class="clearfix visible-sm"></div>
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-26-54-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_24_path %><br />
			Untitled Self Portrait #54, Ohio, 1994
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-27-39-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_25_path %><br />
			Untitled Self Portrait #39, Czech Republic, 1992
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">	
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-28-32-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_26_path %><br />
			Untitled Self Portrait #32, Massachusetts, 1991
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-29-37-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_27_path %><br />
			Untitled Self Portrait #37, Massachusetts, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-33-45-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_28_path %><br />
			Untitled Self Portrait #45, Massachusetts, 1993
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-32-20-x-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_29_path %><br />
			Untitled Self Portrait #20, Utah, 1989
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-23-33-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_30_path %><br />
			Untitled Self Portrait #33, New Hampshire, 1991
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-24-72-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_31_path %><br />
			Untitled Self Portrait #72, Austria, 1995	
		</div>

		<div class="clearfix visible-sm"></div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-30-10-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_32_path %><br />
			Untitled Self Portrait #10, Rhode Island, 1987
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-31-57-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_33_path %><br />
			Untitled Self Portrait #57, Tennessee, 1994
		</div>
		

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	


		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-34-18-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_34_path %><br />
			Untitled Self Portrait #18, California, 1989
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-39-66-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_35_path %><br />
			Untitled Self Portrait #66, New York, 1995
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-40-68-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_36_path %><br />
			Untitled Self Portrait #68, New York, 1995	
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-36-49-thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  sp_37_path %><br />
			Untitled Self Portrait #49, Finland, 1993	
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">

		<div class="col-xs-12 col-sm-12 col-md-6" id="gallery-row">
			<%= link_to image_tag("sp-35-05-thumb.jpg", alt: "critcism", :class => "img-responsive"), sp_38_path %><br />
			Untitled Self Portrait #5, Connecticut, 1986
			<div class="col-xs-12 col-sm-12 col-md-12 link " id="gallery-row">
				
					<div class="sp-statement-box" id="sp-statement">
						<strong><%= link_to"Statement", self_portrait_statement_path, :class=>"link" %><br /></strong>
					</div>
			</div>
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-37-14-thumb.jpg", alt: "resume", :class => "img-responsive"), sp_39_path %><br />
			Untitled Self Portrait #14, Colorado, 1989
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-38-34-thumb.jpg", alt: "bio", :class => "img-responsive" ), sp_40_path %><br />
			Untitled Self Portrait #34, New Hampshire, 1991
		</div>

		
	</div>
	
</div>


</div>
</div>
</div>
