<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>

<!--rows -->	
<div class="container" id="gallery-page-container">
	<div class="row" id="gallery-page-row">
		<div class="col-xs-12 col-sm-12 col-md-12" id="gallery-row">
			<%= link_to image_tag("sp-08-03.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #3, Connecticut, 1987
		</div>
	</div>
</div>


<div class="container" id="gallery-page-container">
	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-01-58.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			<em>Untitled Self Portrait #58, Austria, 1994</em>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-02-24.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			<em>Untitled Self Portrait #24, California, 1989</em>
		
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-03-21.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			<em>Untitled Self Portrait #21, California, 1989/em>
		</div>
	

	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-04-55.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			<em>Untitled Self Portrait #55, Ohio, 1994</em>	
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-05-38.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #38, Czech Republic, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-09-41.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #41, Hungary, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-10-22.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #22, California, 1989
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-12-61.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #61, Austria, 1994	
		</div>

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-06-12.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #12, Connecticut, 1989
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-07-25.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #25, Massachusetts, 1990
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-11-29.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #29, Massachusetts, 1990
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-16-35.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #35, New Hampshire, 1991
		</div>
		

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-13-02.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #2, Wyoming, 1987
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-14-40.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #40, Hungary, 1992
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-15-63.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #63, New York, 1995
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-18-31.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #31, Massachusetts, 1991
		</div>
		

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-17-70.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #70, Austria, 1995
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-19-73.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #73, Austria, 1995
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-20-26.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #26, Massachusetts, 1990
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-21-67.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #67, New York, 1995
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	


		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-22-36.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #36, New Jersey, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-25-46.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #46, Maine, 1993
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-26-54.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #54, Ohio, 1994
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-27-39.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #39, Czech Republic, 1992
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">	
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-28-32.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #32, Massachusetts, 1991
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-29-37.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #37, Massachusetts, 1992
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-33-45.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #45, Massachusetts, 1993
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-32-20-x.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #20, Utah, 1989
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-23-33.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #33, New Hampshire, 1991
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-24-72.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #72, Austria, 1995	
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-30-10.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #10, Rhode Island, 1987
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-31-57.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #57, Tennessee, 1994
		</div>
		

	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">
	


		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-34-18.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #18, California, 1989
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-39-66.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #66, New York, 1995
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-40-68.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #68, New York, 1995	
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-36-49.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Untitled Self Portrait #49, Finland, 1993	
		</div>
	</div>
</div>

<div class="container" id="gallery-page-container">

	<div class="row" id="gallery-page-row">

				<div class="col-xs-12 col-sm-6 col-md-6" id="gallery-row">
			<%= link_to image_tag("sp-35-05.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Untitled Self Portrait #5, Connecticut, 1986
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-37-14.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Untitled Self Portrait #14, Colorado, 1989
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
			<%= link_to image_tag("sp-38-34.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Untitled Self Portrait #34, New Hampshire, 1991
		</div>
	

	</div>
</div>
</div>
