<%= render 'scrollbars' %>

<div class="scrollable-gallery">
  <%= render partial: 'title', locals: { gallery: @gallery } %>

  <div class="row">
    <div class="col-xs-12 gallery-item">
      <%= render partial: 'image', locals: { image: @gallery.images.first } %>
    </div>
  </div>

  <% @gallery.images[1..-4].in_groups_of(4, false) do |row| %>
    <div class="row">
      <% row.each do |image| %>
        <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
          <%= render partial: 'image', locals: { image: image } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 gallery-item">
      <%= render partial: 'image', locals: { image: @gallery.images[-3] } %>
    </div>

    <% @gallery.images[-2..-1].each do |image| %>
      <div class="col-xs-12 col-sm-6 col-md-3 gallery-item">
        <%= render partial: 'image', locals: { image: image } %>
      </div>
    <% end %>
  </div>
</div>
