<% u = 39 %>
<div class="container-fluid detail-image" id="sp10">
	<div class="row">
		<div class="col-xs-9 col-sm-6 col-md-5">
			<%= image_tag("sp-37-14.jpg", alt: "Self Portrait 14", 
			:class => "img-responsive")%></a><br />
			
		</div>
	</div>
</div>

<div class="arrow-row row">
			<div class="col-xs-3 col-md-3 col-lg-3">
					<a href= '/sp<%=u-1%>'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%></a></a><br />
		</div>
		<div class= "col-xs-5 col-md-5 col-lg-5">
					<em>Untitled Self Portrait #14, Colorado, 1989 <%= link_to("Read Artists Statement", self_portrait_statement_path, :class => "link" ) %></em>
		</div>
		<div class="col-xs-3 col-md-3 col-lg-3">
						<a href= '/sp<%=u+1%>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive sp-nav-clock-hand")%>
					</a><br />
		</div>
	</div>
</div>	