<% u = 10 %>
<div class="container-fluid detail-image">
	<div class="row detail-row">
		<div class="col-xs-11">
			<%= image_tag("watch-10-Lightship-frying-pan.jpg", alt: "Lightship frying pan", 
			:class => "img-responsive")%></a><br />
			<div class="row detail-text">

				<div class= "col-xs-11  col-sm-8" id="detail-text">
					<em>
						Lightship Frying Pan (map of cygnus a and b, buckshot, wood and painted metal, vial, mercury, hourglass)
						 &mdash; <%= link_to("Read Artists Statement", watches_statement_path) %></em>
				</div><br />
			</div><br />
			<div class="row">
				<div class="col-xs-1 pull-left left-watch">
					<a href= "/watches<%= (u-1) %>"><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive")%></a><br />
				</div>
				
				<div class="clearfix visible-sm"></div>
				<div class="col-xs-1 pull-right right-watch">
					<a href= "/watches<%= (u+1) %>"><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive")%></a><br />
				</div>
			</div>	

		</div>
	</div>
</div>

