<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>
<!--first row -->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-1-tide.jpg", alt: "resume", :class => "img-responsive"), watches_1_path %>
				Tide, 2013, (print, magnets, metal shavings)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-2-outlaw.jpg", alt: "bio", :class => "img-responsive" ), watches_2_path %>
				Outlaw,2008 (tintype, dice, wood, mourning pin, ganglia)
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-7-fear-of-nothingness.jpg", alt: "critcism", :class => "img-responsive"), watches_3_path %>
				Fear of Nothingness (bones, sheet music, photograph, typed metal)
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-4-diving-bell.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_4_path %>
				Diving Bell, 2013 (print, light bulb, barnacles, blue sand)
			</div>
		</div>
	</div>
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-5-Alice.jpg", alt: "resume", :class => "img-responsive"), watches_5_path %>
				Alice (vial, mercury, cyanotype, typed paper)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-6-dreaming-of-flying.jpg", alt: "bio", :class => "img-responsive" ), watches_6_path %>
				Dreaming of Flying (hummingbird egg, moth, fabric)
			</div>
		
						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-3-chrysalis.jpg", alt: "critcism", :class => "img-responsive"), watches_7_path %>
				Chrysalis (seeds, wood, pillow stuffing, twigs, chrysalis forms built from cotton and fabric)
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-8-home.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_8_path %>
				Home, 2012 (microscope slides, photograph, tiny fish, printed metal)
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-9-Cynthia-Witkins-watch.jpg", alt: "resume", :class => "img-responsive"), watches_9_path %>
				Cynthia Witkin’s watch (photograph, sand, thermometer, vial with 2 shells)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-10-Lightship-frying-pan.jpg", alt: "bio", :class => "img-responsive" ), watches_10_path %>
				Lightship Frying Pan (map of cygnus a and b, buckshot, wood and painted metal, vial, mercury, hourglass)
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-11-global-warming.jpg", alt: "critcism", :class => "img-responsive"), watches_11_path %>
				Global Warming, 2012 (photograph, gold leaf, thermometer, spiral, lens)
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-12-feathers.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_12_path %>
				Flight (renamed) (feathers, fabric, wire mesh)
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-13-Iceberg.jpg", alt: "resume", :class => "img-responsive"), watches_13_path %>
				Iceberg, 2013 (glass, tapioca, glass balls, mica, watch hand)
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), watches_14_path %>	
				My Soul (print, sheet music, tack, dirt from Chimayo shrine)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), watches_15_path %>
				Structure, 2008 (print, feather, bones, broken glass spheres)
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-19-winter-house.jpg", alt: "bio", :class => "img-responsive" ), watches_16_path %>
				Winter House, 2013 (photograph, bones)
			</div>

		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_17_path %>
				Couples, 2012 (photograph, mustard seeds, type letter I)	
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-18-pippin.jpg", alt: "resume", :class => "img-responsive"), watches_18_path %>
				Pippin’s Watch (print, tack, wheel)
			</div>

						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), watches_19_path %>
				Tension, 2008 (tacks, pendulum, wood, paper and mustard seeds)
			</div>

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-20-children-carrying.jpg", alt: "critcism", :class => "img-responsive"), watches_20_path %>
				Children Carrying (photograph, paper, lead, eraser, nail, ball chain, watch face)
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-21-cradle-zero.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_21_path %>
				Cradle Zero (print and chain)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-24-alpha-omega.jpg", alt: "bio", :class => "img-responsive" ), watches_22_path %>
				Alpha, Omega, 2012 (paint chips, print, bones, sewing notion, seeds)	
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-23-flying-dutchman.jpg", alt: "resume", :class => "img-responsive"), watches_23_path %>
				Flying Dutchman (sheet music, watch parts, sand
			</div>


		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-25-glass-darkly.jpg", alt: "critcism", :class => "img-responsive"), watches_24_path %>
				Glass Darkly (biblical text, burned wood, glass balls)
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-27-Leo-Steinberg's-watch.jpg", alt: "resume", :class => "img-responsive"), watches_25_path %>
				 Leo Steinberg’s watch (dirt, roots, onion bulb, bone hand)
			</div>	

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-26-self-portrait.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_26_path %>
				Self Portrait (my hair, glass eye)
			</div>

						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-28-Joel-Peter Witkin-watch.jpg", alt: "resume", :class => "img-responsive"), watches_27_path %>
				 Crucifixion Joel Peter Witkin’s Watch (2 prints, dissection needle, blood)
			</div>	

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-27-infinate-air.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_28_path %>
				Infinite Air (sheet music, microscope slides, wire, camera filter)
			</div>
		</div>

	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-29-mercury-bathers.jpg", alt: "critcism", :class => "img-responsive"), watches_29_path %>
				Mercury Bathers (cyanotype, mercury)
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-30-woman-planting.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_30_path %>
				Woman Planting (fabric, dirt, coin, onion bulbs)
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				Statement
			</div>
		</div>
	</div>
</div>

