<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>
<!--first row -->
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-1-tide.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-2-outlaw.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-3-chrysalis.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-4-diving-bell.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-5-Alice.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-6-dreaming-of-flying.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-7-fear-of-nothingness.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-8-home.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-9-Cynthia-Witkins-watch.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-10-Lightship-frying-pan.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-11-global-warming.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-12-feathers.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
			
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-13-Iceberg.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-18-pippin.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-19-winter-house.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-20-children-carrying.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-21-cradle-zero.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-23-flying-dutchman.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-24-alpha-omega.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
				Bio
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-25-glass-darkly.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		

		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-26-self-portrait.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-27-Leo-Steinberg's-watch.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
				Resume
			</div>	


			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-25-glass-darkly.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
				Criticism
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watch-26-self-portrait.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
				Czech Work	
			</div>
		</div>
	</div>
</div>

