<% u = 16 %>
<div class="container-fluid detail-image"id="sp10">
	<div class="row">
		<div class="col-xs-8 col-sm-6 col-md-6">
			<%= image_tag("watch-19-winter-house.jpg", alt: "winter house", 
			:class => "img-responsive")%></a><br />
		</div>
	</div>
</div>

<div class="arrow-row row">
			<div class="col-xs-3 col-md-2 col-lg-2">
						<a href= "/watches<%=u-1%>"><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
						:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
			</div>
			<div class= "col-xs-6 col-md-6 col-lg-6">
					<em>Winter House, 2013 (photograph, bones) (<%= link_to('Statement', watches_statement_path, :class => 'link' ) %>)</em>
			</div>
			<div class="col-xs-3 col-md-2 col-lg-2">
							<a href= '/watches<%=u+1%>'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
						:class => "img-responsive ap-nav-clock-hand")%>
						</a><br />
			</div>

</div>
