<style>
	#about-page-container {
		text-align: center;


	}
</style>
<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-1-tide.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-2-outlaw.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-3-chrysalis.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	

	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-4-diving-bell.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>
<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-5-Alice.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-6-dreaming-of-flying.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-7-fear-of-nothingness.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-8-home.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-9-Cynthia-Witkins-watch.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-10-Lightship-frying-pan.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-11-global-warming.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-12-feathers.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	

	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>
<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	

	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
		
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-13-Iceberg.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-14-my-soul.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-15-structure.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-16-tension.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-17-couple.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-18-pippin.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-19-winter-house.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-20-children-carrying.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-21-cradle-zero.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-23-flying-dutchman.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-24-alpha-omega.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			Bio
		
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-25-glass-darkly.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	

	</div>
</div>

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-26-self-portrait.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>

		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-27-Leo-Steinberg's-watch.jpg", alt: "resume", :class => "img-responsive"), resume_path %>
			Resume
		</div>	


		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-25-glass-darkly.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			Criticism
		</div>
	
		<div class="col-xs-3" id="about-row">
			<%= link_to image_tag("watch-26-self-portrait.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			Czech Work	
		</div>
	</div>
</div>


