<div class="gallery-div">
<!-- buttons to scroll in gallery -->
	<div class="gallery-pull-right pull-right" >
		
			<div class="gallery-up hidden-xs" id="scroll-up">
				<%= link_to image_tag("watch_3_up.jpg", alt: "scroll up", :class => "img-responsive", :id => "up-button") %>

			</div>
			<div class="gallery-down hidden-xs" id="scroll-down"><%= link_to image_tag("watch_3_down.jpg", alt: "scroll down", :class => "img-responsive", :id => "down-button") %>
			</div>
		</ul>
	</div>
<!--first row -->
<div class="scrollable-gallery hidden-xs">
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-1 tide thumb.jpg", alt: "resume", :class => "img-responsive"), watches_1_path %><br />
				Tide, 2013
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-2 outlaw thumb.jpg", alt: "bio", :class => "img-responsive" ), watches_2_path %><br />
				Outlaw, 2008
			</div>

			<div class="clearfix visible-sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-7 fear of nothingness thumb.jpg", alt: "critcism", :class => "img-responsive"), watches_3_path %><br />
				Fear of Nothingness
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-4 diving bell thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_4_path %><br />
				Diving Bell, 2013 
			</div>
		</div>
	</div>
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-5 Alice thumb.jpg", alt: "resume", :class => "img-responsive"), watches_5_path %><br />
				Alice 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-6 dreaming of flying thumb.jpg", alt: "bio", :class => "img-responsive" ), watches_6_path %><br />
				Dreaming of Flying 
			</div>
		
<div class="clearfix visible-sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-3 chrysalis thumb.jpg", alt: "critcism", :class => "img-responsive"), watches_7_path %><br />
				Chrysalis 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-8 home thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_8_path %><br />
				Home, 2012 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-9 Cynthia Witkin's watch thumb.jpg", alt: "resume", :class => "img-responsive"), watches_9_path %><br />
				Cynthia Witkin’s watch 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-10 Lightship frying pan thumb.jpg", alt: "bio", :class => "img-responsive" ), watches_10_path %><br />
				Lightship Frying Pan 
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-11 global warming thumb.jpg", alt: "critcism", :class => "img-responsive"), watches_11_path %><br />
				Global Warming, 2012 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-12 feathers thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_12_path %><br />
				Flight 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-13 Iceberg thumb.jpg", alt: "resume", :class => "img-responsive"), watches_13_path %><br />
				Iceberg, 2013 
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-14 my soul thumb.jpg", alt: "resume", :class => "img-responsive"), watches_14_path %><br />	
				My Soul 
			</div>

			<div class="clearfix visible-sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-15 structure thumb.jpg", alt: "bio", :class => "img-responsive" ), watches_15_path %><br />
				Structure, 2008 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-19 winter house thumb.jpg", alt: "bio", :class => "img-responsive" ), watches_16_path %><br />
				Winter House, 2013 
			</div>

		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-17 couplethumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_17_path %><br />
				Couples, 2012 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-18 pippin thumb.jpg", alt: "resume", :class => "img-responsive"), watches_18_path %><br />
				Pippin’s Watch
			</div>

			<div class="clearfix visible-sm"></div>

				<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-16 tension thumb.jpg", alt: "critcism", :class => "img-responsive"), watches_19_path %><br />
				Tension, 2008
			</div>

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-20 children carrying thumb.jpg", alt: "critcism", :class => "img-responsive"), watches_20_path %><br />
				Children Carrying 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-21 cradle zero thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_21_path %><br />
				Cradle Zero 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-23 alpha omegathumb.jpg", alt: "bio", :class => "img-responsive" ), watches_22_path %><br />
				Alpha, Omega, 2012 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-22 flying dutchman thumb.jpg", alt: "resume", :class => "img-responsive"), watches_23_path %><br />
				Flying Dutchman 
			</div>


		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-24 glass darklythumb.jpg", alt: "critcism", :class => "img-responsive"), watches_24_path %><br />
				Glass Darkly 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-26 Leo Steinberg's watch thumb.jpg", alt: "resume", :class => "img-responsive"), watches_26_path %><br />
				 Leo Steinberg’s watch
			</div>	

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-25 self portraitthumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_25_path %><br />
				Self Portrait 
			</div>

						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-28Joel Peter Witkin's watchthumb.jpg", alt: "resume", :class => "img-responsive"), watches_27_path %><br />
				 Crucifixion Joel Peter Witkin’s Watch 
			</div>	

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-27 infinate air thumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_28_path %><br />
				Infinite Air 
			</div>
		</div>

	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-29 mercury bathersthumb.jpg", alt: "critcism", :class => "img-responsive"), watches_29_path %><br />
				Mercury Bathers 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-30 woman plantingthumb.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_30_path %><br />
				Woman Planting 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%= link_to image_tag("watches-INSTALLATION THUMB.jpg", alt: "Czech Work", :class => "img-responsive"),  watches_31_path %><br />
				Installation
			</div>
		
			<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box" id="statement">
					<strong><%= link_to"Statement", watches_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="scrollable-gallery visible-xs">
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-1 tide thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				Tide, 2013
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-2 outlaw thumb.jpg", alt: "bio", :class => "img-responsive" ) %><br />
				Outlaw, 2008
			</div>

			<div class="clearfix -sm"></div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-7 fear of nothingness thumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Fear of Nothingness
			</div>
		

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-4 diving bell thumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Diving Bell, 2013 
			</div>
		</div>
	</div>
	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-5 Alice thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				Alice 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-6 dreaming of flying thumb.jpg", alt: "bio", :class => "img-responsive" ) %><br />
				Dreaming of Flying 
			</div>
		
<div class="clearfix -sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-3 chrysalis thumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Chrysalis 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-8 home thumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Home, 2012 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-9 Cynthia Witkin's watch thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				Cynthia Witkin’s watch 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-10 Lightship frying pan thumb.jpg", alt: "bio", :class => "img-responsive" ) %><br />
				Lightship Frying Pan 
			
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-11 global warming thumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Global Warming, 2012 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-12 feathers thumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Flight 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-13 Iceberg thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				Iceberg, 2013 
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-14 my soul thumb.jpg", alt: "resume", :class => "img-responsive") %><br />	
				My Soul 
			</div>

			<div class="clearfix -sm"></div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-15 structure thumb.jpg", alt: "bio", :class => "img-responsive" ) %><br />
				Structure, 2008 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-19 winter house thumb.jpg", alt: "bio", :class => "img-responsive" ) %><br />
				Winter House, 2013 
			</div>

		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-17 couplethumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Couples, 2012 
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-18 pippin thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				Pippin’s Watch
			</div>

			<div class="clearfix -sm"></div>

				<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-16 tension thumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Tension, 2008
			</div>

		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-20 children carrying thumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Children Carrying 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-21 cradle zero thumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Cradle Zero 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-23 alpha omegathumb.jpg", alt: "bio", :class => "img-responsive" ) %><br />
				Alpha, Omega, 2012 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-22 flying dutchman thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				Flying Dutchman 
			</div>


		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-24 glass darklythumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Glass Darkly 
			</div>
		</div>
	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">
		
			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-26 Leo Steinberg's watch thumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				 Leo Steinberg’s watch
			</div>	

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-25 self portraitthumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Self Portrait 
			</div>

						<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-28Joel Peter Witkin's watchthumb.jpg", alt: "resume", :class => "img-responsive") %><br />
				 Crucifixion Joel Peter Witkin’s Watch 
			</div>	

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-27 infinate air thumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Infinite Air 
			</div>
		</div>

	</div>

	<div class="container" id="gallery-page-container">

		<div class="row" id="gallery-page-row">

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-29 mercury bathersthumb.jpg", alt: "critcism", :class => "img-responsive") %><br />
				Mercury Bathers 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-30 woman plantingthumb.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Woman Planting 
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3" id="gallery-row">
				<%=  image_tag("watches-INSTALLATION THUMB.jpg", alt: "Czech Work", :class => "img-responsive") %><br />
				Installation
			</div>
		
			<div class="col-xs-6 col-sm-6 col-md-3 link " id="gallery-row">
				<div class="statement-box" id="statement">
					<strong><%= link_to "Statement", watches_statement_path, :class=>"link" %><br /></strong>
				</div>
			</div>
		</div>
	</div>
</div>
</div>



