<% if @errors %>
  <div class="alert alert-danger">
    The following errors occurred when submitting this form:
    <ul>
      <% @errors.each do |error| %><li><%= error %></li><% end %>
    </ul>
  </div>
<% end %>

<%= form_for @contact, url: :submit_contact do |f| %>
  <%= raw negative_captcha(@captcha) %>

  <div class="form-group<% if @contact.errors[:email].present? %> has-error<% end %>">
    <%= f.negative_label @captcha, :email, 'Your Email Address' %>
    <%= f.negative_text_field @captcha, :email, class: 'form-control' %>
  </div>

  <div class="form-group<% if @contact.errors[:message].present? %> has-error<% end %>">
    <%= f.negative_label @captcha, :message, 'Message' %>
    <%= f.negative_text_area @captcha, :message, class: 'form-control' %>
  </div>

  <%= f.submit 'Send', class: 'btn btn-default' %>
<% end %>
