<!DOCTYPE html>
<html>
<head>
  <title>Anne Adren McDonald</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>


<body>

 <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><a href="/newWork">NEW WORK</a></li>
          <li><a href="/selfPortrait">SELF PORTRAITS</a></li>
          <li><%= link_to "PLASTIC CAMERA", plastic_camera_path %></li>
          <li><a href="/archive">ARCHIVE</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="http://www.anneardenmcdonald.com/noflash/jewelry.html">JEWELRY</a></li>
        </ul>
      </div>


<div id="main-page">
<%= yield %>
</div>
<!--second footer thing with name and button to go home 
<div class="bottom-second-footer">
  <div class="row">
    <hr>

    <p class="logo">Anne Arden McDonald</p>
  </div>
</div>
-->
<!--footer-->
<div class="nav navbar-fixed-bottom">
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<small class = "copyright pull-left">all contents © Anne Adren McDonald 2013</small>
			</div>

			<div class="col-md-4">
			</div>
			
			<div class="col-md-4">
				<small class="social pull-right">NOTHING</small>
			</div>
		</div>
		</div>
</footer>
</div>

</body>
</html>
