<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body id="<%= current_page_class %>">
    <div class="container-fluid">
      <div class="row">
        <aside id="sidebar" class="col-sm-2">
          <%= render 'shared/sidebar' %>
        </aside>

        <div id="main-content" class="col-sm-10">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>

      <% if front_page? %>
        <div class="row">
          <%= render 'shared/footer' %>
        </div>
      <% end %>
    </div>
  </body>
</html>
