<!DOCTYPE html>
<html>
<head>
  <title>Anne Adren McDonald</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>


<body id="body">
  

      
<!-- Sidebar -->

      <div id="sidebar-wrapper" >
        <ul class="sidebar-nav">
          <li><strong><a href="/newWork">N<span class="small-letter">EW</span> W<span class="small-letter">ORK</span></a></strong>
          </li>
          <li class="visible-xs">&nbsp;
          </li>
          <li><strong><a href="/selfPortrait">S<span class="small-letter">ELF</span> P<span class="small-letter">ORTRAITS</span></a></strong>
          </li>
          <li class="visible-xs">&nbsp;
          </li>
          <li>
            <strong><a href= <%= plastic_camera_path %> >P<span class="small-letter">LASTIC</span> C<span class="small-letter">AMERA</span></strong></a>
          </li>
          <li class="visible-xs">&nbsp;
          </li>
          <li><strong><a href="/watches">W<span class="small-letter">ATCHES</span></a></strong>
          </li>
          <li class="visible-xs">&nbsp;
          </li>
          <li><strong><a href="/archive">A<span class="small-letter">RCHIVE</span></a></strong>
          </li>
          <li class="visible-xs">&nbsp;
          </li>
          <li><strong><a href="/about">A<span class="small-letter">BOUT</span></a></strong>
          </li>
          <li class="visible-xs">&nbsp;
          </li>
          <li><strong><a href="http://www.anneardenmcdonald.com/noflash/jewelry.html">J<span class="small-letter">EWELRY</span></a></strong>
          </li>
        </ul>
      </div>

<!-- main page -->
      <div id="main-page"> 
          <%= yield %>
      </div>
      
      



<!-- second footer -->
      <div class="bottom-second-footer navbar-fixed-bottom">
        <div class="left-footer-box hidden-xs">
        </div>
        <div class="right-footer-box hidden-xs">
          <a href="/" class="link"><p class="logo">ANNE ARDEN MCDONALD</p></a>
      </div>

<!--footer-->
  
    <div class="nav navbar-fixed-bottom">
      <footer class="footer">
  	   <div class="container-fluid">
  		  <div class="row">
  			<div class="col-xs-8 col-sm-4">
  				<small class = "copyright">all content © Anne Adren McDonald 2014</small>
  			</div>

  			<div class="col-sm-4">
  			</div>
  			
  			<div class="col-xs-4 col-sm-4">
          <div class="pull-right social">
           <a href="https://www.facebook.com/pages/Anne-Arden-McDonald/116579048353973?ref=search&sid=751108032.2233621175..1"><%= image_tag("facebooklogo.png", alt: "facebook logo", :class=>"image-fluid")%></a>
          |
            <a href="mailto:anne@anneardenmcdonald.com">
                <%= image_tag("envelope.png", alt: "envelope", :class=>"image-fluid")%>
            </a>
          </div>

  			</div>
  		</div>
  		</div>
      </footer>
    </div>
  </div>

</body>
</html>
