<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body id="<%= current_page_class %>">
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/sidebar' %>

        <div id="main-content" class="col-xs-10">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>

      <div class="row">
        <% if front_page? %>
          <%= render 'shared/footer' %>
        <% end %>
      </div>
    </div>
  </body>
</html>
