<!DOCTYPE html>
<html>
  <head>
    <title>Anne Arden McDonald</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= current_page_class %>">
    <div class="container-fluid">
      <div class="row">
        <aside id="sidebar" class="col-xs-2">
          <%= render 'shared/sidebar' %>
        </aside>

        <div id="main-content" class="col-xs-10">
          <%= yield %>
        </div>
      </div>

      <% if front_page? %>
        <div class="row">
          <%= render 'shared/footer' %>
        </div>
      <% end %>
    </div>
  </body>

  <%= javascript_include_tag "application" %>
  <%= content_for :scripts %>
</html>
